Repository matrixorigin/matrixone, pull requests merged in 2021-11, with the labels that each got.

#1047 replay shard snapshot log entry
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/ctx.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/shard.go
Labels: component/aoe, priority/critical, kind/feature, severity/critical

#1053 [devops] Detect non-ascii characters in github action workflow
  .github/workflows/build_matrixone.yml
Labels: devops

#1072 implement split for aoe - phase I
  pkg/vm/engine/aoe/storage/common/range.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/filter_test.go
  pkg/vm/engine/aoe/storage/db/gcreqs/droptbl.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/sched/flushmemblk.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeseg.go
  pkg/vm/engine/aoe/storage/db/shard_test.go
  pkg/vm/engine/aoe/storage/layout/base/file.go
  pkg/vm/engine/aoe/storage/layout/dataio/blkwriter.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/segwriter.go
  pkg/vm/engine/aoe/storage/layout/dataio/sortedseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/unsortedseg.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/commit.go
  pkg/vm/engine/aoe/storage/metadata/v1/ctx.go
  pkg/vm/engine/aoe/storage/metadata/v1/listener.go
  pkg/vm/engine/aoe/storage/metadata/v1/logentry.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/schema.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/shard.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/metadata/v1/types.go
  pkg/vm/engine/aoe/storage/testutils/helpers.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
Labels: component/aoe, priority/critical, kind/feature, severity/critical

#1073 metadata code refactor and update for transaction
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/ctx.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/shard.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/stats.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
Labels: kind/enhancement, component/aoe, priority/high, severity/major, kind/refactor

#1074 replay for shard split
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
Labels: component/aoe, priority/critical, kind/feature, severity/critical

#1075 fix occasionally commit out of order problem
  pkg/vm/engine/aoe/storage/db/open_test.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/logstore/rotational.go
  pkg/vm/engine/aoe/storage/logstore/syncbase.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
Labels: kind/bug, component/aoe, priority/critical, severity/critical

#1079 remove old get segmented index api and dependency code
  pkg/vm/driver/cube_driver.go
  pkg/vm/engine/aoe/cmd/read/main.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/engine_test.go
  pkg/vm/engine/aoe/storage/dbi/req.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/iface/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/mutation/base/types.go
  pkg/vm/engine/aoe/storage/mutation/blk.go
Labels: component/aoe, kind/api-change

#1081 Adjust the situation where aoe GetShardCheckpointId is 0
  pkg/vm/driver/cube_driver.go
Labels: kind/refactor, component/driver

#1083 add idx for block metadata preparing for dataio refactor
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
Labels: component/aoe, kind/refactor

#1086 (aoe): refactor sorted segment
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/segwriter.go
  pkg/vm/engine/aoe/storage/layout/dataio/sortedseg.go
  pkg/vm/engine/aoe/storage/layout/table/v1/col/part.go
Labels: component/aoe, priority/high, kind/refactor, reviewed

#1087 (aoe): support AOE snapshot - phase Ⅰ
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
Labels: component/aoe, priority/critical, kind/feature, reviewed

#1089 Support primary key
  pkg/catalog/catalog.go
  pkg/catalog/errors.go
  pkg/sql/build/create.go
  pkg/vm/engine/aoe/common/helper/helper.go
  pkg/vm/engine/aoe/mergesort/mergesort.go
  pkg/vm/engine/aoe/model.go
  pkg/vm/engine/aoe/storage/adaptor/meta.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/blkwriter.go
  pkg/vm/engine/aoe/storage/metadata/v1/schema.go
  pkg/vm/metadata/types.go
Labels: reviewed

#1091 update replay log index and bug fixes
  pkg/vm/engine/aoe/storage/db/filter_test.go
  pkg/vm/engine/aoe/storage/db/open_test.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/events/meta/types_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/baseblk.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/memtable/v1/collection.go
  pkg/vm/engine/aoe/storage/memtable/v1/manager.go
  pkg/vm/engine/aoe/storage/memtable/v1/mc_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/mutation/blk_test.go
Labels: kind/bug, kind/enhancement, component/aoe, priority/critical, severity/critical

#1095 fix occasional unit test data race error
  pkg/vm/engine/aoe/storage/db/sched/flushmemblk.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/types.go
Labels: kind/bug, component/aoe

#1103 fix replay bugs and add some validation during replay
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/flusher.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/metadata/v1/types.go
  pkg/vm/engine/aoe/storage/options.go
  pkg/vm/engine/aoe/storage/wal/types.go
Labels: kind/bug, kind/enhancement, component/aoe

#1105 (aoe): support AOE snapshot - phase ⅠⅠ
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
Labels: kind/enhancement, component/aoe, priority/high, kind/refactor, reviewed

#1106 fix data race and improve snapshot prepare load
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
Labels: kind/bug, kind/enhancement, component/aoe, reviewed

#1107 update for data replay and compaction
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/metadata/v1/types.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
  pkg/vm/engine/aoe/storage/wal/shard/mock.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical

#1113 update for log index calculation and others
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/open_test.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/sched/commitblk.go
  pkg/vm/engine/aoe/storage/events/meta/types_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/tblk.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/node.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/metadata/v1/types.go
  pkg/vm/engine/aoe/storage/mutation/blk.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
  pkg/vm/engine/aoe/storage/wal/types.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical, kind/refactor

#1111 Remove old tree (#1110)
  go.mod
  go.sum
  pkg/sql/parsers/defines/type_mysql.go
  pkg/sql/parsers/dialect/mysql/mysql_sql.go
  pkg/sql/parsers/dialect/mysql/mysql_sql.y
  pkg/sql/parsers/tree/types.go
  pkg/sql/tree/accept.go
  pkg/sql/tree/alter.go
  pkg/sql/tree/constant.go
  pkg/sql/tree/create.go
  pkg/sql/tree/delete.go
  pkg/sql/tree/drop.go
  pkg/sql/tree/explain.go
  pkg/sql/tree/expr.go
  pkg/sql/tree/grant.go
  pkg/sql/tree/identifier.go
  pkg/sql/tree/insert.go
  pkg/sql/tree/object_name.go
  pkg/sql/tree/parser.go
  pkg/sql/tree/parser_test.go
  pkg/sql/tree/print.go
  pkg/sql/tree/readme.md
  pkg/sql/tree/revoke.go
  pkg/sql/tree/select.go
  pkg/sql/tree/set.go
  pkg/sql/tree/show.go
  pkg/sql/tree/stmt.go
  pkg/sql/tree/table_name.go
  pkg/sql/tree/transformer.go
  pkg/sql/tree/transformer_test.go
  pkg/sql/tree/txn.go
  pkg/sql/tree/types.go
  pkg/sql/tree/union.go
  pkg/sql/tree/update.go
  pkg/sql/tree/use.go
  pkg/sql/tree/values.go
Labels: reviewed

#1114 update for compaction and data replay
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/gcreqs/compaction.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/open.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/entry.go
  pkg/vm/engine/aoe/storage/metadata/v1/listener.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/schema.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/options.go
  pkg/vm/engine/aoe/storage/wal/shard/manager.go
  pkg/vm/engine/aoe/storage/wal/types.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical

#1115 Create/Drop Index Support
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/errors.go
  pkg/sql/build/build.go
  pkg/sql/build/index.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/scope.go
  pkg/sql/compile/types.go
  pkg/sql/op/createIndex/create.go
  pkg/sql/op/createIndex/type.go
  pkg/sql/op/dropIndex/drop.go
  pkg/sql/op/dropIndex/type.go
  pkg/sql/unittest/sql_test.go
  pkg/vm/engine/aoe/common/helper/helper.go
  pkg/vm/engine/aoe/common/helper/helper_test.go
  pkg/vm/engine/aoe/engine/engine_test.go
  pkg/vm/engine/aoe/engine/relation.go
  pkg/vm/engine/aoe/local/relation.go
  pkg/vm/engine/aoe/model.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/memEngine/relation.go
  pkg/vm/engine/spillEngine/relation.go
  pkg/vm/engine/types.go
Labels: reviewed

#1120 update for gc and add more ut
  pkg/vm/engine/aoe/storage/aoedb/db.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/shard_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/helper.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/testutils/helpers.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical

#1119 Fix escaped char for <like expression> (#1118)
  pkg/sql/parsers/dialect/mysql/mysql_sql_test.go
  pkg/sql/parsers/scanner/scanner.go
  pkg/sql/parsers/scanner/scanner_test.go
Labels: reviewed

#1125 update for snapshot and split
  pkg/vm/engine/aoe/storage/common/filenames.go
  pkg/vm/engine/aoe/storage/common/filenames_test.go
  pkg/vm/engine/aoe/storage/common/id.go
  pkg/vm/engine/aoe/storage/common/id_test.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/snapshoter.go
  pkg/vm/engine/aoe/storage/layout/base/file.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/sortedseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/tblk.go
  pkg/vm/engine/aoe/storage/layout/dataio/types.go
  pkg/vm/engine/aoe/storage/layout/dataio/unsortedseg.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/iface/types.go
  pkg/vm/engine/aoe/storage/memtable/v1/collection.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
Labels: kind/enhancement, component/aoe, priority/critical, kind/feature, severity/critical

#1133 update for create and apply snapshot
  pkg/vm/engine/aoe/storage/aoedb/db.go
  pkg/vm/engine/aoe/storage/aoedb/name.go
  pkg/vm/engine/aoe/storage/aoedb/open.go
  pkg/vm/engine/aoe/storage/common/filenames.go
  pkg/vm/engine/aoe/storage/common/filenames_test.go
  pkg/vm/engine/aoe/storage/common/id.go
  pkg/vm/engine/aoe/storage/common/id_test.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/flusher.go
  pkg/vm/engine/aoe/storage/db/gcreqs/compaction.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/shard_test.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/db/snapshoter.go
  pkg/vm/engine/aoe/storage/flusher/flusher.go
  pkg/vm/engine/aoe/storage/flusher/shard.go
  pkg/vm/engine/aoe/storage/flusher/types.go
  pkg/vm/engine/aoe/storage/layout/base/file.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/sortedseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/unsortedseg.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/iface/types.go
  pkg/vm/engine/aoe/storage/logstore/sm/safeq.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/entry.go
  pkg/vm/engine/aoe/storage/metadata/v1/filter.go
  pkg/vm/engine/aoe/storage/metadata/v1/helper.go
  pkg/vm/engine/aoe/storage/metadata/v1/listener.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/txn.go
  pkg/vm/engine/aoe/storage/shard/aware.go
  pkg/vm/engine/aoe/storage/shard/stats.go
  pkg/vm/engine/aoe/storage/testutils/helpers.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
  pkg/vm/engine/aoe/storage/wal/shard/mock.go
Labels: component/aoe, priority/critical, kind/feature, severity/critical

#1134 Adapt storage interface according factor storage
  go.mod
  pkg/vm/driver/aoe/storage.go
  pkg/vm/driver/handler_aoe.go
  pkg/vm/engine/aoe/common/helper/helper.go
  pkg/vm/engine/aoe/common/helper/helper_test.go
  pkg/vm/engine/aoe/engine/database.go
  pkg/vm/engine/aoe/engine/engine_test.go
  pkg/vm/engine/aoe/engine/reader.go
  pkg/vm/engine/aoe/engine/relation.go
  pkg/vm/engine/aoe/engine/types.go
  pkg/vm/engine/aoe/mergesort/float32s/func.go
  pkg/vm/engine/aoe/mergesort/float64s/func.go
  pkg/vm/engine/aoe/mergesort/int16s/func.go
  pkg/vm/engine/aoe/mergesort/int32s/func.go
  pkg/vm/engine/aoe/mergesort/int64s/func.go
  pkg/vm/engine/aoe/mergesort/int8s/func.go
  pkg/vm/engine/aoe/mergesort/mergesort.go
  pkg/vm/engine/aoe/mergesort/uint16s/func.go
  pkg/vm/engine/aoe/mergesort/uint32s/func.go
  pkg/vm/engine/aoe/mergesort/uint64s/func.go
  pkg/vm/engine/aoe/mergesort/uint8s/func.go
  pkg/vm/engine/aoe/mergesort/varchar/func.go
  pkg/vm/engine/aoe/model.go
  pkg/vm/engine/aoe/protocol/protocol.go
  pkg/vm/engine/aoe/protocol/types.go
  pkg/vm/engine/aoe/storage/adaptor/meta.go
  pkg/vm/engine/aoe/storage/container/vector/base.go
  pkg/vm/engine/aoe/storage/container/vector/stdvec.go
  pkg/vm/engine/aoe/storage/container/vector/strvec.go
  pkg/vm/engine/aoe/storage/container/vector/wrapper.go
  pkg/vm/engine/aoe/storage/db/relation.go
  pkg/vm/engine/aoe/storage/db/sched/flushseg.go
  pkg/vm/engine/aoe/storage/db/seg.go
  pkg/vm/engine/aoe/storage/db/seg_test.go
  pkg/vm/engine/aoe/storage/db/segment_sparse_filter.go
  pkg/vm/engine/aoe/storage/memtable/v1/collection.go
  pkg/vm/engine/aoe/storage/memtable/v1/mutcollection.go
  pkg/vm/engine/aoe/types.go
Labels: kind/feature, kind/refactor

#1136 update for unsorted segment file and snapshot data replay
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/engine_test.go
  pkg/vm/engine/aoe/storage/db/factories/mutblock.go
  pkg/vm/engine/aoe/storage/db/open_test.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/shard_test.go
  pkg/vm/engine/aoe/storage/db/snapshot_test.go
  pkg/vm/engine/aoe/storage/layout/base/file.go
  pkg/vm/engine/aoe/storage/layout/dataio/manager.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/sortedseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/tblk.go
  pkg/vm/engine/aoe/storage/layout/dataio/unsortedseg.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/testutils/helpers.go
  pkg/vm/engine/aoe/storage/wal/shard/mock.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical

#1144 update for snapshot and fix some bugs
  pkg/vm/engine/aoe/storage/aoedb/db.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/gcreqs/droptbl.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/open.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/shard_test.go
  pkg/vm/engine/aoe/storage/db/snapshot_test.go
  pkg/vm/engine/aoe/storage/events/memdata/createtbl.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/iface/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk.go
  pkg/vm/engine/aoe/storage/memtable/v1/collection.go
  pkg/vm/engine/aoe/storage/memtable/v1/manager.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/idempotent.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/mutation/buffer/limiter.go
  pkg/vm/engine/aoe/storage/testutils/config/options.go
  pkg/vm/engine/aoe/storage/wal/shard/manager.go
  pkg/vm/engine/aoe/storage/wal/types.go
Labels: kind/bug, kind/enhancement, component/aoe, priority/critical, severity/critical

#1145 Fix failed to select if value is "C:\Program Files(x86)"
  pkg/sql/parsers/dialect/mysql/mysql_sql_test.go
  pkg/sql/parsers/scanner/scanner.go
  pkg/sql/parsers/scanner/scanner_test.go
Labels: reviewed

#1150 idempotence check during replay
  pkg/vm/engine/aoe/storage/aoedb/db.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/iface/types.go
  pkg/vm/engine/aoe/storage/memtable/v1/collection.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/idempotent.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
Labels: component/aoe, priority/critical, severity/critical

#1157 not use string type to store non-utf-8 encoded bytes
  pkg/catalog/catalog.go
Labels: reviewed

#1160 Add log information before mo-server shuts down
  cmd/db-server/main.go
Labels: auto-test

#1165 Create&Drop table set the offset and size of the index
  pkg/vm/driver/handler_aoe.go
  pkg/vm/engine/aoe/storage/adaptor/meta.go
  pkg/vm/engine/aoe/storage/db/engine_test.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/shard_test.go
  pkg/vm/engine/aoe/storage/dbi/req.go
Labels: kind/bug, reviewed

#1173 aoe support database splite
  pkg/vm/engine/aoe/storage/common/filenames.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/db_test.go
  pkg/vm/engine/aoe/storage/db/migration.go
  pkg/vm/engine/aoe/storage/db/open.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/db/split.go
  pkg/vm/engine/aoe/storage/db/split_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/commit.go
  pkg/vm/engine/aoe/storage/metadata/v1/ctx.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
Labels: component/aoe, priority/critical, kind/feature, severity/critical

#1179 [STMT-DROP TABLE] call local drop table failed 14, 6, invalid data, must 8 bytes, but 17
  pkg/vm/driver/handler_aoe.go
Labels: reviewed

#1186 bug fix and add unit test for snapshot
  pkg/vm/engine/aoe/storage/aoedb/v1/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/aoedb/v2/replay_test.go
  pkg/vm/engine/aoe/storage/aoedb/v2/snapshot_test.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/gcreqs/droptbl.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/layout/dataio/tblk.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/processor.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/snapshot.go
  pkg/vm/engine/aoe/storage/sched/types.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
  pkg/vm/engine/aoe/storage/wal/shard/proxy.go
Labels: kind/bug, kind/enhancement, component/aoe, priority/critical, severity/critical

#1193 code refactor and bug fix
  pkg/vm/engine/aoe/storage/aoedb/v2/snapshot_test.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/flusher.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/gcreqs/droptbl.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/open.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/events/memdata/createtbl.go
  pkg/vm/engine/aoe/storage/events/memdata/types.go
  pkg/vm/engine/aoe/storage/events/meta/droptable.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/base/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/manager.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/mc_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/table.go
Labels: kind/bug, component/aoe, priority/critical, severity/critical, kind/refactor

#1195 exactly once consumption for four-level shared log
  pkg/vm/engine/aoe/storage/aoedb/v1/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/replay_test.go
  pkg/vm/engine/aoe/storage/db/factories.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/sched/commitblk.go
  pkg/vm/engine/aoe/storage/db/sched/flushmemblk.go
  pkg/vm/engine/aoe/storage/db/sched/flushseg.go
  pkg/vm/engine/aoe/storage/db/sched/flushtblk.go
  pkg/vm/engine/aoe/storage/db/sched/iface/ctx.go
  pkg/vm/engine/aoe/storage/db/sched/iface/types.go
  pkg/vm/engine/aoe/storage/db/sched/precommitblk.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/sched/types.go
  pkg/vm/engine/aoe/storage/db/sched/types_test.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeblk.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeseg.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/events/meta/createblk.go
  pkg/vm/engine/aoe/storage/events/meta/droptable.go
  pkg/vm/engine/aoe/storage/events/meta/types_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/base/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/mc_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/table.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/wal/shard/index.go
  pkg/vm/engine/aoe/storage/wal/shard/manager.go
  pkg/vm/engine/aoe/storage/wal/shard/proxy.go
  pkg/vm/engine/aoe/storage/wal/shard/shard_test.go
  pkg/vm/engine/aoe/storage/wal/shard/slice.go
  pkg/vm/engine/aoe/storage/wal/shard/snippet.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical, kind/refactor

#1196 remove memtable related logic and replace it with table mutation handle
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/db/blk_test.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/factories.go
  pkg/vm/engine/aoe/storage/db/factories/factories_test.go
  pkg/vm/engine/aoe/storage/db/flusher.go
  pkg/vm/engine/aoe/storage/db/gcreqs/dropdb.go
  pkg/vm/engine/aoe/storage/db/gcreqs/droptbl.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/open.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/sched/commitblk.go
  pkg/vm/engine/aoe/storage/db/sched/createblk.go
  pkg/vm/engine/aoe/storage/db/sched/ctx.go
  pkg/vm/engine/aoe/storage/db/sched/flushmemblk.go
  pkg/vm/engine/aoe/storage/db/sched/flushseg.go
  pkg/vm/engine/aoe/storage/db/sched/flushtblk.go
  pkg/vm/engine/aoe/storage/db/sched/iface/types.go
  pkg/vm/engine/aoe/storage/db/sched/installblock.go
  pkg/vm/engine/aoe/storage/db/sched/meta_test.go
  pkg/vm/engine/aoe/storage/db/sched/metamgr.go
  pkg/vm/engine/aoe/storage/db/sched/precommitblk.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/sched/types.go
  pkg/vm/engine/aoe/storage/db/sched/types_test.go
  pkg/vm/engine/aoe/storage/db/sched/uninstalltable.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeblk.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeseg.go
  pkg/vm/engine/aoe/storage/db/seg_test.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/events/memdata/createtbl.go
  pkg/vm/engine/aoe/storage/events/memdata/types.go
  pkg/vm/engine/aoe/storage/events/meta/droptable.go
  pkg/vm/engine/aoe/storage/events/meta/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/appender.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/handle/types_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/iface/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/base/types.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/manager.go
  pkg/vm/engine/aoe/storage/layout/table/v1/muthandle/mc_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/mutation/blk_test.go
  pkg/vm/engine/aoe/storage/options.go
  pkg/vm/engine/aoe/storage/sched/event.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical, kind/refactor

#1185 [AOE] Support Create/Drop Index for AOE - phase 1
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/common/filenames.go
  pkg/vm/engine/aoe/storage/db/filter_test.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/sched/flushidx.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/sched/types.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/layout/base/file.go
  pkg/vm/engine/aoe/storage/layout/dataio/index.go
  pkg/vm/engine/aoe/storage/layout/dataio/mockseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/segwriter.go
  pkg/vm/engine/aoe/storage/layout/dataio/sortedseg.go
  pkg/vm/engine/aoe/storage/layout/dataio/unsortedseg.go
  pkg/vm/engine/aoe/storage/layout/index/helper.go
  pkg/vm/engine/aoe/storage/layout/index/numbsi.go
  pkg/vm/engine/aoe/storage/layout/index/seg.go
  pkg/vm/engine/aoe/storage/layout/index/segzonemap.go
  pkg/vm/engine/aoe/storage/layout/index/tbl.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
Labels: component/aoe, priority/high, kind/feature, kind/refactor, reviewed

#1197 snapshot bug fix and add ut to cover it
  pkg/vm/engine/aoe/storage/aoedb/v2/snapshot_test.go
  pkg/vm/engine/aoe/storage/db/sched/ctx.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeseg.go
  pkg/vm/engine/aoe/storage/db/snapshot.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
Labels: kind/bug, component/aoe, priority/critical, severity/critical

#1198 bug fix for split and add ut
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/aoedb/v2/split_test.go
  pkg/vm/engine/aoe/storage/db/gcreqs/compaction.go
  pkg/vm/engine/aoe/storage/db/impl.go
  pkg/vm/engine/aoe/storage/db/sched/scheduler.go
  pkg/vm/engine/aoe/storage/db/sched/upgradeseg.go
  pkg/vm/engine/aoe/storage/db/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/base.go
  pkg/vm/engine/aoe/storage/metadata/v1/block.go
  pkg/vm/engine/aoe/storage/metadata/v1/split.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
Labels: kind/bug, component/aoe, priority/critical, severity/critical

#1199 [AOE] Support Create/Drop Index for AOE - phase 2
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/sched/flushidx.go
  pkg/vm/engine/aoe/storage/layout/dataio/index.go
  pkg/vm/engine/aoe/storage/layout/index/numbsi.go
  pkg/vm/engine/aoe/storage/layout/index/seg.go
  pkg/vm/engine/aoe/storage/layout/index/segzonemap.go
  pkg/vm/engine/aoe/storage/layout/index/strbsi.go
  pkg/vm/engine/aoe/storage/layout/index/types.go
  pkg/vm/engine/aoe/storage/layout/index/zonemap.go
Labels: component/aoe, priority/high, kind/feature, kind/refactor, reviewed

#1206 hot bug fix for create database log index logic
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
Labels: kind/bug, component/aoe, priority/critical, severity/critical

#1211 metadata supports mvcc index schema
  pkg/vm/engine/aoe/storage/adaptor/meta.go
  pkg/vm/engine/aoe/storage/aoedb/v1/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/ctx.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/db/blk_test.go
  pkg/vm/engine/aoe/storage/db/db.go
  pkg/vm/engine/aoe/storage/db/factories/factories_test.go
  pkg/vm/engine/aoe/storage/db/replay.go
  pkg/vm/engine/aoe/storage/db/replay_test.go
  pkg/vm/engine/aoe/storage/db/sched/flushidx.go
  pkg/vm/engine/aoe/storage/db/sched/meta_test.go
  pkg/vm/engine/aoe/storage/db/sched/types_test.go
  pkg/vm/engine/aoe/storage/db/seg_test.go
  pkg/vm/engine/aoe/storage/db/types.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/handle/types_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/commit.go
  pkg/vm/engine/aoe/storage/metadata/v1/ctx.go
  pkg/vm/engine/aoe/storage/metadata/v1/database.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/logentry.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/schema.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/metadata/v1/types.go
  pkg/vm/engine/aoe/storage/mutation/blk_test.go
Labels: component/aoe, priority/critical, kind/feature, severity/critical

#1214 replay bug fix
  pkg/vm/engine/aoe/storage/metadata/v1/catalog.go
  pkg/vm/engine/aoe/storage/metadata/v1/replayer.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
Labels: kind/bug, component/aoe, priority/critical, severity/critical

#1217 [AOE] Support Create/Drop Index for AOE - phase 3
  pkg/vm/engine/aoe/common/util/util.go
  pkg/vm/engine/aoe/storage/aoedb/v2/ctx.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/layout/index/seg.go
Labels: component/aoe, priority/high, kind/feature, kind/refactor, reviewed

#1221 [feature request] Integrate CUBE new API
  cmd/db-server/main.go
  go.mod
  go.sum
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/frontend/epochgc_test.go
  pkg/frontend/test_stub.go
  pkg/vm/driver/aoe/storage.go
  pkg/vm/driver/aoe_shard_aware.go
  pkg/vm/driver/cube_driver.go
  pkg/vm/driver/error/errors.go
  pkg/vm/driver/handler.go
  pkg/vm/driver/handler_aoe.go
  pkg/vm/driver/handler_kv.go
  pkg/vm/driver/kv/executor.go
  pkg/vm/driver/test/storage_test.go
  pkg/vm/driver/testutil/testutil.go
  pkg/vm/engine/aoe/engine/database.go
  pkg/vm/engine/aoe/engine/engine.go
  pkg/vm/engine/aoe/engine/engine_test.go
  pkg/vm/engine/aoe/engine/types.go
  pkg/vm/engine/aoe/storage/layout/dataio/blkwriter.go
Labels: reviewed

#1224 [AOE] Fix bug in segment index holder & add more tests for index
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/layout/index/seg.go
  pkg/vm/engine/aoe/storage/layout/table/v1/seg.go
Labels: kind/bug, component/aoe, priority/high, reviewed

#1225 update ut and some code refactor
  pkg/vm/engine/aoe/storage/db/blk_test.go
  pkg/vm/engine/aoe/storage/db/factories/factories_test.go
  pkg/vm/engine/aoe/storage/db/sched/meta_test.go
  pkg/vm/engine/aoe/storage/db/sched/types_test.go
  pkg/vm/engine/aoe/storage/db/seg_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/blk_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data.go
  pkg/vm/engine/aoe/storage/layout/table/v1/data_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/handle/types_test.go
  pkg/vm/engine/aoe/storage/layout/table/v1/seg.go
  pkg/vm/engine/aoe/storage/layout/table/v1/tblk_test.go
  pkg/vm/engine/aoe/storage/logstore/rotational_test.go
  pkg/vm/engine/aoe/storage/logstore/store_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/database_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/metadata_test.go
  pkg/vm/engine/aoe/storage/metadata/v1/segment.go
  pkg/vm/engine/aoe/storage/metadata/v1/table.go
  pkg/vm/engine/aoe/storage/mutation/blk_test.go
  pkg/vm/engine/aoe/storage/testutils/helpers.go
Labels: kind/enhancement, priority/critical, severity/critical

#1228 [AOE] add index test & small fix
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/db/seg.go
  pkg/vm/engine/aoe/storage/db/segment_filter.go
  pkg/vm/engine/aoe/storage/layout/dataio/segwriter.go
  pkg/vm/engine/aoe/storage/layout/index/seg.go
  pkg/vm/engine/aoe/storage/layout/index/types.go
Labels: kind/enhancement, component/aoe, priority/high, kind/refactor, reviewed

#1235 Add the using index type of BSI in parser(#1234)
  pkg/sql/parsers/dialect/mysql/mysql_sql.go
  pkg/sql/parsers/dialect/mysql/mysql_sql.y
  pkg/sql/parsers/dialect/mysql/mysql_sql_test.go
  pkg/sql/parsers/scanner/tokens.go
  pkg/sql/parsers/scanner/tokens_mysql.go
  pkg/sql/parsers/tree/create.go
Labels: reviewed

#1241 Create/Drop Index Support
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/errors.go
  pkg/sql/build/index.go
  pkg/vm/driver/aoe/storage.go
  pkg/vm/driver/cube_driver.go
  pkg/vm/driver/handler.go
  pkg/vm/driver/pb/rpc.pb.go
  pkg/vm/driver/pb/rpc.proto
  pkg/vm/driver/test/storage_test.go
  pkg/vm/engine/aoe/common/helper/helper.go
  pkg/vm/engine/aoe/model.go
  pkg/vm/engine/aoe/storage/adaptor/meta.go
  pkg/vm/engine/types.go
Labels: reviewed

#1240 Fix bug the mergesort(MergeBlocksToSegment) and add primary key
  pkg/vm/engine/aoe/mergesort/float32s/func.go
  pkg/vm/engine/aoe/mergesort/float64s/func.go
  pkg/vm/engine/aoe/mergesort/int16s/func.go
  pkg/vm/engine/aoe/mergesort/int32s/func.go
  pkg/vm/engine/aoe/mergesort/int64s/func.go
  pkg/vm/engine/aoe/mergesort/int8s/func.go
  pkg/vm/engine/aoe/mergesort/mergesort.go
  pkg/vm/engine/aoe/mergesort/uint16s/func.go
  pkg/vm/engine/aoe/mergesort/uint32s/func.go
  pkg/vm/engine/aoe/mergesort/uint64s/func.go
  pkg/vm/engine/aoe/mergesort/uint8s/func.go
  pkg/vm/engine/aoe/mergesort/varchar/func.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db_test.go
  pkg/vm/engine/aoe/storage/layout/dataio/segwriter.go
Labels: kind/bug, reviewed

#1250 rename old v1 aoedb and some code update
  pkg/vm/driver/aoe/storage.go
  pkg/vm/driver/cube_driver.go
  pkg/vm/engine/aoe/cmd/demo/main.go
  pkg/vm/engine/aoe/cmd/read/main.go
  pkg/vm/engine/aoe/engine/database.go
  pkg/vm/engine/aoe/engine/types.go
  pkg/vm/engine/aoe/local/database.go
  pkg/vm/engine/aoe/local/engine.go
  pkg/vm/engine/aoe/local/relation.go
  pkg/vm/engine/aoe/storage/aoedb/v1/ctx.go
  pkg/vm/engine/aoe/storage/aoedb/v1/db.go
  pkg/vm/engine/aoe/storage/aoedb/v1/db_test.go
  pkg/vm/engine/aoe/storage/aoedb/v1/factory.go
  pkg/vm/engine/aoe/storage/aoedb/v1/name.go
  pkg/vm/engine/aoe/storage/aoedb/v1/open.go
  pkg/vm/engine/aoe/storage/aoedb/v1/relation.go
  pkg/vm/engine/aoe/storage/aoedb/v1/replay_test.go
  pkg/vm/engine/aoe/storage/aoedb/v1/shard_test.go
  pkg/vm/engine/aoe/storage/aoedb/v1/snapshot_test.go
  pkg/vm/engine/aoe/storage/aoedb/v1/split_test.go
  pkg/vm/engine/aoe/storage/aoedb/v2/db.go
  pkg/vm/engine/aoe/storage/aoedb/v2/relation.go
Labels: kind/enhancement, component/aoe, priority/critical, severity/critical, kind/refactor
