Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @sukki37, @zhangxu19830126, @dengn, @fengttt, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @qingxinhome, @XuPeng-SH, @reusee, @volgariver6, @m-schen, @xzxiong, @w-zr, @aptend, @ouyuanning, @badboynt1, @iamlinjunhong, @triump2020, @jiangxinmeng1, @aylei

Fix bug for snapshot-read (#15994)
  pkg/vm/engine/disttae/db.go
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/disttae/logtailreplay/partition.go
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/txn_table.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @triump2020, @reusee

Fix bug for snapshot-read (#15994)
  pkg/vm/engine/disttae/db.go
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/disttae/logtailreplay/partition.go
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/txn_table.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @triump2020, @reusee

remove bvt tag of snapshot read (#15893)
  test/distributed/cases/snapshot/snapshot_read.sql
  test/distributed/cases/snapshot/snapshot_read_1.sql
  test/distributed/cases/snapshot/snapshot_read_2.sql
  test/distributed/cases/snapshot/snapshot_read_3.sql
Owners: @aressu1985, @heni02

fix `ForceCheckpoint` retry logic. (#16029)
  pkg/vm/engine/tae/db/db.go
Owners: @XuPeng-SH

fix
  test/distributed/cases/snapshot/snapshot.sql
  test/distributed/cases/snapshot/snapshot_restore_account_level.sql
  test/distributed/cases/snapshot/snapshot_restore_database_level.sql
  test/distributed/cases/snapshot/snapshot_restore_table_level.sql
Owners: @aressu1985, @heni02

retry for first lock table bind change
  pkg/frontend/test/txn_mock.go
  pkg/frontend/test/types_mock.go
  pkg/lockservice/service_test.go
  pkg/sql/colexec/lockop/lock_op.go
  pkg/txn/client/operator.go
  pkg/txn/client/types.go
  pkg/txn/storage/memorystorage/storage_txn_client.go
  pkg/vm/engine/entire_engine_test.go
Owners: @daviszhen, @qingxinhome, @zhangxu19830126, @m-schen, @reusee, @XuPeng-SH

[cherry-pick] fix argument type of prefix_in (#16023)
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @badboynt1

retry for first lock table bind change
  pkg/frontend/test/txn_mock.go
  pkg/lockservice/service_test.go
  pkg/sql/colexec/lockop/lock_op.go
  pkg/txn/client/operator.go
  pkg/txn/client/types.go
  pkg/txn/storage/memorystorage/storage_txn_client.go
  pkg/vm/engine/entire_engine_test.go
Owners: @daviszhen, @qingxinhome, @zhangxu19830126, @m-schen, @reusee, @XuPeng-SH

retry for first lock table bind change
  pkg/frontend/test/txn_mock.go
  pkg/lockservice/service_test.go
  pkg/sql/colexec/lockop/lock_op.go
  pkg/txn/client/operator.go
  pkg/txn/client/types.go
  pkg/txn/storage/memorystorage/storage_txn_client.go
  pkg/vm/engine/entire_engine_test.go
Owners: @daviszhen, @qingxinhome, @zhangxu19830126, @m-schen, @reusee, @XuPeng-SH

malloc: optimizations
  pkg/common/malloc/flush.go
  pkg/common/malloc/handle.go
  pkg/common/malloc/malloc.go
Owners: @zhangxu19830126

add snapshot read case (#15949)
  test/distributed/cases/snapshot/snapshotRead.result
  test/distributed/cases/snapshot/snapshotRead.sql
Owners: @aressu1985, @heni02

fix len(vec) > 1, pkval should be nil
  pkg/vm/engine/disttae/txn_table.go
  test/distributed/cases/disttae_filters/reader_filters/partition_state_primary_key_index_filter.result
  test/distributed/cases/disttae_filters/reader_filters/partition_state_primary_key_index_filter.sql
Owners: @XuPeng-SH, @triump2020, @aressu1985, @heni02

fix dml
  pkg/sql/plan/build_insert.go
Owners: @ouyuanning, @aunjgr, @badboynt1

temp
  pkg/sql/colexec/aggexec/aggMethod2.go
  pkg/sql/colexec/aggexec/fromBytesRetBytes.go
Owners: @m-schen

add test
  pkg/shardservice/filters.go
  pkg/shardservice/filters_test.go
  pkg/shardservice/runtime.go
  pkg/shardservice/runtime_test.go
  pkg/shardservice/scheduler_allocate_test.go
  pkg/shardservice/scheduler_balance.go
  pkg/shardservice/scheduler_balance_test.go
  pkg/shardservice/scheduler_down_test.go
  pkg/shardservice/types.go
Owners: @sukki37

add dump profile (#16026)
  cmd/mo-service/main.go
  pkg/cnservice/server.go
Owners: @zhangxu19830126, @reusee, @daviszhen

bug fix
  pkg/util/export/etl/db/db_holder.go
Owners: @xzxiong

Update code
  pkg/vm/engine/tae/db/checkpoint/replay.go
  pkg/vm/engine/tae/db/checkpoint/snapshot.go
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Updata code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/checkpoint/snapshot.go
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

malloc: optimizations (#16037)
  pkg/common/malloc/flush.go
  pkg/common/malloc/handle.go
  pkg/common/malloc/malloc.go
Owners: @zhangxu19830126

remove bvt tag of snapshot restore (#15870)
  test/distributed/cases/snapshot/snapshot.sql
  test/distributed/cases/snapshot/snapshot_restore_account_level.result
  test/distributed/cases/snapshot/snapshot_restore_account_level.sql
  test/distributed/cases/snapshot/snapshot_restore_database_level.sql
  test/distributed/cases/snapshot/snapshot_restore_table_level.sql
Owners: @aressu1985, @heni02

[Bug]: pipeline client max connections is too large (#15713)
  pkg/cnservice/cnclient/client.go
  pkg/sql/compile/scope.go
  pkg/sql/compile/scopeRemoteRunTypes.go
Owners: @reusee, @daviszhen, @m-schen, @ouyuanning, @aunjgr, @badboynt1

malloc: optimizations (#16037)
  pkg/common/malloc/flush.go
  pkg/common/malloc/handle.go
  pkg/common/malloc/malloc.go
Owners: @zhangxu19830126

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

free refs
  pkg/frontend/computation_wrapper.go
  pkg/frontend/mysql_cmd_executor.go
Owners: @daviszhen, @qingxinhome

update
  pkg/frontend/mysql_cmd_executor.go
Owners: @daviszhen, @qingxinhome

free refs
  pkg/frontend/computation_wrapper.go
  pkg/frontend/mysql_cmd_executor.go
Owners: @daviszhen, @qingxinhome

fix parse oom (#16040)
  pkg/frontend/computation_wrapper.go
  pkg/frontend/mysql_cmd_executor.go
Owners: @daviszhen, @qingxinhome

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

fix parse oom (#16041)
  pkg/frontend/computation_wrapper.go
  pkg/frontend/mysql_cmd_executor.go
Owners: @daviszhen, @qingxinhome

retry for first lock table bind change (#16036)
  pkg/frontend/test/txn_mock.go
  pkg/lockservice/service_test.go
  pkg/sql/colexec/lockop/lock_op.go
  pkg/txn/client/operator.go
  pkg/txn/client/types.go
  pkg/txn/storage/memorystorage/storage_txn_client.go
  pkg/vm/engine/entire_engine_test.go
Owners: @daviszhen, @qingxinhome, @zhangxu19830126, @m-schen, @reusee, @XuPeng-SH

Update log
  pkg/vm/engine/tae/db/checkpoint/replay.go
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/checkpoint/snapshot.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/checkpoint/snapshot.go
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
  pkg/vm/engine/tae/logtail/snapshot.go
Owners: @XuPeng-SH

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @sukki37
.github/actions @sukki37
.github/workflow @sukki37

# files under the top-level directory
/*.yml @sukki37
/*.yaml @sukki37
/.gitignore @sukki37
/.dockerignore @sukki37
/Makefile @zhangxu19830126
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @sukki37
/pkg @sukki37
/proto @zhangxu19830126
/cmd @daviszhen @zhangxu19830126
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold @qingxinhome

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen

/pkg/cacheservice @volgariver6 

/pkg/clusterservice @volgariver6 




# pkg/common
/pkg/common @zhangxu19830126
/pkg/common/mpool @m-schen
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr
/pkg/common/hashmap @aunjgr
/pkg/common/moerror @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr

# pkg/defines
/pkg/defines @daviszhen

# pkg/tnservice
/pkg/tnservice @zhangxu19830126

# pkg/fileservice
/pkg/fileservice @reusee

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @qingxinhome

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @w-zr

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/logservice
/pkg/logservice @zhangxu19830126

# pkg/logutil
/pkg/logutil @daviszhen

# pkg/objectio
/pkg/objectio @LeftHandCold

# pkg/partition
/pkg/partition @aunjgr @m-schen

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @m-schen
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr @m-schen

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @qingxinhome

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @m-schen
/pkg/sql/compile @m-schen @ouyuanning @aunjgr @badboynt1
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr @badboynt1
/pkg/sql/plan/function @m-schen
/pkg/sql/plan/explain @ouyuanning @aunjgr @badboynt1 @qingxinhome

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @m-schen

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @m-schen
/pkg/vm/process @m-schen @XuPeng-SH @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @triump2020
/pkg/vm/engine/disttae/logtailreplay @reusee @triump2020
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @aylei @daviszhen

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @m-schen
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
