Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @fengttt, @zhangxu19830126, @XuPeng-SH, @dengn, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @volgariver6, @ck89119, @jiangxinmeng1, @reusee, @aptend, @ouyuanning, @xzxiong, @iamlinjunhong, @gouhongshen

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @fengttt
.github/actions @fengttt
.github/workflow @fengttt

# files under the top-level directory
/*.yml @fengttt
/*.yaml @fengttt
/.gitignore @fengttt
/.dockerignore @fengttt
/Makefile @zhangxu19830126 @XuPeng-SH
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @fengttt
/pkg @fengttt
/proto @zhangxu19830126 @XuPeng-SH
/cmd @daviszhen @zhangxu19830126 @XuPeng-SH
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold

/pkg/datasync @volgariver6 @LeftHandCold

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

#pkg/cdc
/pkg/cdc @ck89119 @jiangxinmeng1

#pkg/iscp
/pkg/iscp @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen @XuPeng-SH

/pkg/cacheservice @volgariver6 @aptend

/pkg/clusterservice @volgariver6 @aptend

# pkg/common @fengttt
/pkg/common @zhangxu19830126 @XuPeng-SH
/pkg/common/mpool @reusee @XuPeng-SH
/pkg/common/malloc @reusee
/pkg/common/spool @reusee @ouyuanning @aunjgr
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr @XuPeng-SH
/pkg/common/hashmap @aunjgr
/pkg/common/moerr @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen @fengttt

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH
/pkg/container/pSpool @reusee @aunjgr @ouyuanning

# pkg/defines
/pkg/defines @daviszhen @XuPeng-SH

# pkg/embed
/pkg/embed @zhangxu19830126

# pkg/tnservice
/pkg/tnservice @zhangxu19830126 @XuPeng-SH

# pkg/fileservice
/pkg/fileservice @reusee @fengttt

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @XuPeng-SH

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @volgariver6

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/shardservice
/pkg/shardservice @zhangxu19830126

# pkg/partitionservice
/pkg/partitionservice @zhangxu19830126 @iamlinjunhong

# pkg/logservice
/pkg/logservice @zhangxu19830126 @volgariver6

# pkg/logutil
/pkg/logutil @daviszhen @XuPeng-SH

# pkg/objectio
/pkg/objectio @LeftHandCold @XuPeng-SH

# pkg/partition
/pkg/partition @aunjgr @iamlinjunhong

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126 @XuPeng-SH
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @ouyuanning @aunjgr
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @LeftHandCold

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @ouyuanning @aunjgr
/pkg/sql/compile @ouyuanning @aunjgr
/pkg/sql/models @aptend
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr
/pkg/sql/plan/function @ouyuanning @aunjgr
/pkg/sql/plan/explain @ouyuanning @aunjgr
/pkg/sql/plan/tools @daviszhen @gouhongshen
/pkg/sql/colexec/indexjoin @aunjgr
/pkg/sql/colexec/indexbuild @aunjgr
/pkg/sql/colexec/intersect @aunjgr
/pkg/sql/colexec/intersectall @aunjgr
/pkg/sql/colexec/loopanti @aunjgr
/pkg/sql/colexec/loopjoin @aunjgr
/pkg/sql/colexec/loopleft @aunjgr
/pkg/sql/colexec/loopmark @aunjgr
/pkg/sql/colexec/loopsingle @aunjgr
/pkg/sql/colexec/right @aunjgr
/pkg/sql/colexec/rightanti @aunjgr
/pkg/sql/colexec/rightsemi @aunjgr
/pkg/sql/colexec/anti @aunjgr
/pkg/sql/colexec/single @aunjgr
/pkg/sql/colexec/mark @aunjgr
/pkg/sql/colexec/semi @aunjgr
/pkg/sql/colexec/join @aunjgr
/pkg/sql/colexec/hashbuild @aunjgr
/pkg/sql/colexec/left @aunjgr
/pkg/sql/colexec/shuffle @aunjgr
/pkg/sql/colexec/shuffleV2 @aunjgr
/pkg/sql/colexec/shufflebuild @aunjgr
/pkg/sql/colexec/multi_update @ouyuanning

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @ouyuanning @daviszhen @XuPeng-SH

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126 @XuPeng-SH
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend @xzxiong
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend
/pkg/util/fault @XuPeng-SH

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @ouyuanning @aunjgr
/pkg/vm/process @reusee @aunjgr @XuPeng-SH
/pkg/vm/message @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @gouhongshen
/pkg/vm/engine/disttae/logtailreplay @XuPeng-SH @gouhongshen
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @daviszhen @fengttt

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @ouyuanning @aunjgr
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @zhangxu19830126

inserto support secondary index tables
  pkg/sql/plan/bind_insert.go
Owners: @ouyuanning, @aunjgr

support secondary index table
  pkg/sql/plan/bind_insert.go
Owners: @ouyuanning, @aunjgr

fix
  pkg/frontend/connector_test.go
  pkg/frontend/task_test.go
Owners: @daviszhen, @XuPeng-SH

fix
  pkg/pb/plan/plan.go
  pkg/sql/colexec/filter/filter_test.go
  pkg/sql/plan/tools/match_pattern.go
  pkg/sql/plan/tools/matcher.go
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @daviszhen, @gouhongshen

fix data race for taskservice (#22445)
  pkg/cnservice/server.go
  pkg/cnservice/server_task.go
  pkg/config/configuration.go
  pkg/frontend/back_exec.go
  pkg/frontend/cdc_dao.go
  pkg/frontend/cdc_handle.go
  pkg/frontend/connector.go
  pkg/frontend/connector_test.go
  pkg/frontend/session.go
  pkg/frontend/show_account.go
  pkg/frontend/task.go
  pkg/frontend/task_test.go
Owners: @reusee, @daviszhen, @XuPeng-SH, @fengttt

Revert "inserto support secondary index tables"
  pkg/sql/plan/bind_insert.go
Owners: @ouyuanning, @aunjgr

Revert "support secondary index table"
  pkg/sql/plan/bind_insert.go
Owners: @ouyuanning, @aunjgr

fix cast null value with type
  pkg/iscp/index_sqlwriter_test.go
  pkg/iscp/util.go
Owners: @XuPeng-SH

secondary index table support replace into (#22447)
  pkg/sql/plan/bind_replace.go
Owners: @ouyuanning, @aunjgr

fix OOM caused by #22413 (#22444)
  pkg/pb/plan/plan.go
  pkg/sql/colexec/filter/filter_test.go
  pkg/sql/plan/tools/match_pattern.go
  pkg/sql/plan/tools/matcher.go
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @daviszhen, @gouhongshen

fix
  test/distributed/cases/ddl/mysql_ddl_3.result
  test/distributed/cases/ddl/partition.sql
Owners: @aressu1985, @heni02

update
  pkg/iscp/executor.go
  pkg/iscp/watermark_updater.go
Owners: @XuPeng-SH

fix build for GCC 15 and cmake 4.1
  Makefile
  thirdparties/Makefile
Owners: @zhangxu19830126, @XuPeng-SH

update
  pkg/iscp/executor.go
  pkg/iscp/table_entry.go
  pkg/iscp/types.go
Owners: @XuPeng-SH

update
  pkg/iscp/consumer_entry.go
Owners: @XuPeng-SH

fix build for GCC 15 and cmake 4.1 (#22442)
  Makefile
  thirdparties/Makefile
Owners: @zhangxu19830126, @XuPeng-SH

add ut
  pkg/iscp/consumer_entry.go
  pkg/iscp/executor.go
  pkg/iscp/table_entry.go
  pkg/iscp/types.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH

to 3.0: apply cow to indexes if the primary key and indexed columns are not modified when ALTER TABLE (#22385)
  pkg/defines/type.go
  pkg/pb/plan/plan.pb.go
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/colexec/table_clone/table_clone.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/ddl.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/sql_executor.go
  pkg/sql/plan/bind_insert.go
  pkg/sql/plan/build_alter_add_column.go
  pkg/sql/plan/build_alter_change_column.go
  pkg/sql/plan/build_alter_modify_column.go
  pkg/sql/plan/build_alter_rename_column.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_ddl.go
  pkg/sql/plan/build_dml_util.go
  pkg/sql/plan/build_table_clone.go
  pkg/util/executor/options.go
  pkg/util/executor/types.go
  pkg/vm/engine/disttae/txn_database.go
  proto/plan.proto
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @zhangxu19830126, @gouhongshen, @aressu1985, @heni02

Fix iscp (#22448)
  pkg/iscp/consumer_entry.go
  pkg/iscp/executor.go
  pkg/iscp/table_entry.go
  pkg/iscp/types.go
  pkg/iscp/watermark_updater.go
  pkg/iscp/worker.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH

information_schema.partition and range maxvalue
  pkg/sql/plan/partition_binder.go
  pkg/sql/plan/partition_binder_test.go
  pkg/util/sysview/predefined.go
  test/distributed/cases/ddl/partition_metadata.result
  test/distributed/cases/ddl/partition_metadata.sql
Owners: @ouyuanning, @aunjgr, @zhangxu19830126, @XuPeng-SH, @aressu1985, @heni02

Revert "Revert 22092 changes in 2.2-dev due to oom (#22157)"
  pkg/sql/plan/dml_context.go
Owners: @ouyuanning, @aunjgr

[opt] implement RIGHT DEDUP join (#22179)
  pkg/common/hashmap/strhashmap.go
  pkg/common/hashmap/strhashmap_test.go
  pkg/pb/pipeline/pipeline.pb.go
  pkg/pb/plan/plan.pb.go
  pkg/sql/colexec/aggexec/distinct.go
  pkg/sql/colexec/group/execctx.go
  pkg/sql/colexec/hashmap_util/hashmap_util.go
  pkg/sql/colexec/intersect/intersect.go
  pkg/sql/colexec/intersectall/intersectall.go
  pkg/sql/colexec/minus/minus.go
  pkg/sql/colexec/rightdedupjoin/join.go
  pkg/sql/colexec/rightdedupjoin/join_test.go
  pkg/sql/colexec/rightdedupjoin/types.go
  pkg/sql/colexec/sample/sample.go
  pkg/sql/colexec/shufflebuild/build.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/debugTools.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/remoterun.go
  pkg/sql/compile/remoterun_test.go
  pkg/sql/plan/apply_indices.go
  pkg/sql/plan/deepcopy.go
  pkg/sql/plan/explain/explain_node.go
  pkg/sql/plan/opt_misc.go
  pkg/sql/plan/runtime_filter.go
  pkg/sql/plan/shuffle.go
  pkg/sql/plan/stats.go
  pkg/vm/message/joinMapMsg.go
  pkg/vm/types.go
  proto/pipeline.proto
  proto/plan.proto
Owners: @aunjgr, @ouyuanning, @XuPeng-SH

fix shuffle join (#22282)
  pkg/lockservice/cfg.go
  pkg/sql/colexec/shuffle/shuffle.go
  pkg/sql/compile/compile.go
  pkg/sql/plan/explain/explain_node.go
  pkg/sql/plan/shuffle.go
  test/distributed/cases/ddl/secondary_index_insert.result
  test/distributed/cases/ddl/secondary_index_insert.sql
Owners: @zhangxu19830126, @aunjgr, @ouyuanning, @aressu1985, @heni02

fix conflict
  pkg/sql/colexec/rightdedupjoin/join_test.go
Owners: @ouyuanning, @aunjgr

[opt] enable range shuffle for RIGHT DEDUP join (#22244)
  pkg/sql/plan/opt_misc.go
  pkg/sql/plan/shuffle.go
  pkg/sql/plan/stats.go
Owners: @ouyuanning, @aunjgr

[opt] eliminate memory copy in RIGHT DEDUP join (#22230)
  pkg/container/batch/batch.go
  pkg/sql/colexec/rightdedupjoin/join.go
  pkg/sql/colexec/rightdedupjoin/types.go
Owners: @XuPeng-SH, @ouyuanning, @aunjgr

fix right join dedup memory leak (#22293)
  pkg/sql/colexec/rightdedupjoin/join.go
Owners: @ouyuanning, @aunjgr

fix shuffle RIGHT DEDUP join (#22253)
  pkg/sql/compile/compile.go
  pkg/sql/plan/opt_misc.go
  pkg/sql/plan/shuffle.go
  test/distributed/cases/optimizer/insert.result
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

apply cow to indexes if the primary key and indexed columns are not modified when ALTER TABLE. (#22380)
  pkg/defines/type.go
  pkg/pb/plan/plan.pb.go
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/colexec/table_clone/table_clone.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/ddl.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/sql_executor.go
  pkg/sql/plan/bind_insert.go
  pkg/sql/plan/build_alter_add_column.go
  pkg/sql/plan/build_alter_change_column.go
  pkg/sql/plan/build_alter_modify_column.go
  pkg/sql/plan/build_alter_rename_column.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_ddl.go
  pkg/sql/plan/build_dml_util.go
  pkg/sql/plan/build_table_clone.go
  pkg/util/executor/options.go
  pkg/util/executor/types.go
  pkg/vm/engine/disttae/txn_database.go
  proto/plan.proto
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @zhangxu19830126, @gouhongshen, @aressu1985, @heni02

better checking with valid cdc async index
  pkg/sql/compile/cdc_util.go
Owners: @ouyuanning, @aunjgr

bug fix alter table drop index
  pkg/sql/compile/ddl.go
Owners: @ouyuanning, @aunjgr

update
  pkg/sql/compile/cdc_util.go
Owners: @ouyuanning, @aunjgr

RIGHT DEDUP join PRs cherry-pick to 2.2-dev (#22264)
  pkg/common/hashmap/strhashmap.go
  pkg/common/hashmap/strhashmap_test.go
  pkg/container/batch/batch.go
  pkg/lockservice/cfg.go
  pkg/pb/pipeline/pipeline.pb.go
  pkg/pb/plan/plan.pb.go
  pkg/sql/colexec/aggexec/distinct.go
  pkg/sql/colexec/group/execctx.go
  pkg/sql/colexec/hashmap_util/hashmap_util.go
  pkg/sql/colexec/intersect/intersect.go
  pkg/sql/colexec/intersectall/intersectall.go
  pkg/sql/colexec/minus/minus.go
  pkg/sql/colexec/rightdedupjoin/join.go
  pkg/sql/colexec/rightdedupjoin/join_test.go
  pkg/sql/colexec/rightdedupjoin/types.go
  pkg/sql/colexec/sample/sample.go
  pkg/sql/colexec/shuffle/shuffle.go
  pkg/sql/colexec/shufflebuild/build.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/debugTools.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/remoterun.go
  pkg/sql/compile/remoterun_test.go
  pkg/sql/plan/apply_indices.go
  pkg/sql/plan/deepcopy.go
  pkg/sql/plan/dml_context.go
  pkg/sql/plan/explain/explain_node.go
  pkg/sql/plan/opt_misc.go
  pkg/sql/plan/runtime_filter.go
  pkg/sql/plan/shuffle.go
  pkg/sql/plan/stats.go
  pkg/vm/message/joinMapMsg.go
  pkg/vm/types.go
  proto/pipeline.proto
  proto/plan.proto
  test/distributed/cases/ddl/secondary_index_insert.result
  test/distributed/cases/ddl/secondary_index_insert.sql
  test/distributed/cases/optimizer/insert.result
Owners: @aunjgr, @XuPeng-SH, @zhangxu19830126, @ouyuanning, @aressu1985, @heni02

Fix GC leak files
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

update
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @gouhongshen

update
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @gouhongshen

update 2
  pkg/vm/engine/disttae/txn_test.go
Owners: @XuPeng-SH, @gouhongshen

update 2
  pkg/vm/engine/disttae/txn_test.go
Owners: @XuPeng-SH, @gouhongshen

fix oltp performance degradation (#22453)
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/txn_test.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @gouhongshen

fix oltp query performance degradation to 3.0-dev (#22454)
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/txn_test.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @gouhongshen
