Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @sukki37, @zhangxu19830126, @dengn, @fengttt, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @qingxinhome, @XuPeng-SH, @ck89119, @reusee, @volgariver6, @m-schen, @xzxiong, @w-zr, @aptend, @ouyuanning, @badboynt1, @iamlinjunhong, @triump2020, @jiangxinmeng1, @aylei

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @sukki37
.github/actions @sukki37
.github/workflow @sukki37

# files under the top-level directory
/*.yml @sukki37
/*.yaml @sukki37
/.gitignore @sukki37
/.dockerignore @sukki37
/Makefile @zhangxu19830126
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @sukki37
/pkg @sukki37
/proto @zhangxu19830126
/cmd @daviszhen @zhangxu19830126
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold @qingxinhome

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

#pkg/cdc
/pkg/cdc @daviszhen @ck89119

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen

/pkg/cacheservice @volgariver6

/pkg/clusterservice @volgariver6

# pkg/common @fengttt
/pkg/common @zhangxu19830126
/pkg/common/mpool @m-schen
/pkg/common/malloc @reusee
/pkg/common/spool @reusee @m-schen
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr
/pkg/common/hashmap @aunjgr
/pkg/common/moerror @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen @fengttt

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH

# pkg/defines
/pkg/defines @daviszhen

# pkg/embed
/pkg/embed @zhangxu19830126

# pkg/tnservice
/pkg/tnservice @zhangxu19830126 @XuPeng-SH

# pkg/fileservice
/pkg/fileservice @reusee @fengttt

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @qingxinhome

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @w-zr

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/shardservice
/pkg/shardservice @zhangxu19830126

# pkg/logservice
/pkg/logservice @zhangxu19830126

# pkg/logutil
/pkg/logutil @daviszhen

# pkg/objectio
/pkg/objectio @LeftHandCold

# pkg/partition
/pkg/partition @aunjgr @m-schen

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @m-schen
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr @m-schen

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @qingxinhome @LeftHandCold

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @m-schen
/pkg/sql/compile @m-schen @ouyuanning @aunjgr @badboynt1 @qingxinhome
/pkg/sql/models @qingxinhome
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr @badboynt1
/pkg/sql/plan/function @m-schen
/pkg/sql/plan/explain @ouyuanning @aunjgr @badboynt1 @qingxinhome
/pkg/sql/plan/tools @daviszhen @qingxinhome
/pkg/sql/colexec/indexjoin @aunjgr @badboynt1
/pkg/sql/colexec/indexbuild @badboynt1
/pkg/sql/colexec/intersect @aunjgr @badboynt1
/pkg/sql/colexec/intersectall @aunjgr @badboynt1
/pkg/sql/colexec/loopanti @aunjgr @badboynt1
/pkg/sql/colexec/loopjoin @aunjgr @badboynt1
/pkg/sql/colexec/loopleft @aunjgr @badboynt1
/pkg/sql/colexec/loopmark @aunjgr @badboynt1
/pkg/sql/colexec/loopsingle @aunjgr @badboynt1
/pkg/sql/colexec/right @aunjgr @badboynt1
/pkg/sql/colexec/rightanti @aunjgr @badboynt1
/pkg/sql/colexec/rightsemi @aunjgr @badboynt1
/pkg/sql/colexec/anti @aunjgr @badboynt1
/pkg/sql/colexec/single @aunjgr @badboynt1
/pkg/sql/colexec/mark @aunjgr @badboynt1
/pkg/sql/colexec/semi @aunjgr @badboynt1
/pkg/sql/colexec/join @aunjgr @badboynt1
/pkg/sql/colexec/hashbuild @aunjgr @badboynt1
/pkg/sql/colexec/left @aunjgr @badboynt1
/pkg/sql/colexec/shuffle @badboynt1
/pkg/sql/colexec/shufflebuild @badboynt1

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @m-schen

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend @xzxiong
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @m-schen
/pkg/vm/process @m-schen @XuPeng-SH @aunjgr
/pkg/vm/message @badboynt1
/pkg/vm/engine/disttae @XuPeng-SH @triump2020
/pkg/vm/engine/disttae/logtailreplay @triump2020
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @aylei @daviszhen @fengttt

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @m-schen
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @zhangxu19830126

fix
  pkg/sql/plan/stats.go
Owners: @ouyuanning, @aunjgr, @badboynt1

fix sca
  pkg/sql/colexec/debugTools.go
  pkg/sql/colexec/evalExpression_test.go
  pkg/sql/colexec/filter/filter_test.go
  pkg/sql/colexec/filter/types.go
Owners: @m-schen

Revert "fix"
  pkg/sql/plan/stats.go
Owners: @ouyuanning, @aunjgr, @badboynt1

fix
  pkg/vm/engine/disttae/engine.go
Owners: @XuPeng-SH, @triump2020

fix sca
  pkg/sql/colexec/debugTools.go
Owners: @m-schen
