Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @fengttt, @zhangxu19830126, @XuPeng-SH, @dengn, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @volgariver6, @ck89119, @jiangxinmeng1, @reusee, @aptend, @ouyuanning, @xzxiong, @iamlinjunhong, @gouhongshen

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @fengttt
.github/actions @fengttt
.github/workflow @fengttt

# files under the top-level directory
/*.yml @fengttt
/*.yaml @fengttt
/.gitignore @fengttt
/.dockerignore @fengttt
/Makefile @zhangxu19830126 @XuPeng-SH
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @fengttt
/pkg @fengttt
/proto @zhangxu19830126 @XuPeng-SH
/cmd @daviszhen @zhangxu19830126 @XuPeng-SH
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold

/pkg/datasync @volgariver6 @LeftHandCold

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

#pkg/cdc
/pkg/cdc @ck89119 @jiangxinmeng1

#pkg/iscp
/pkg/iscp @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen @XuPeng-SH

/pkg/cacheservice @volgariver6 @aptend

/pkg/clusterservice @volgariver6 @aptend

# pkg/common @fengttt
/pkg/common @zhangxu19830126 @XuPeng-SH
/pkg/common/mpool @reusee @XuPeng-SH
/pkg/common/malloc @reusee
/pkg/common/spool @reusee @ouyuanning @aunjgr
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr @XuPeng-SH
/pkg/common/hashmap @aunjgr
/pkg/common/moerr @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen @fengttt

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH
/pkg/container/pSpool @reusee @aunjgr @ouyuanning

# pkg/defines
/pkg/defines @daviszhen @XuPeng-SH

# pkg/embed
/pkg/embed @zhangxu19830126

# pkg/tnservice
/pkg/tnservice @zhangxu19830126 @XuPeng-SH

# pkg/fileservice
/pkg/fileservice @reusee @fengttt

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @XuPeng-SH

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @volgariver6

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/shardservice
/pkg/shardservice @zhangxu19830126

# pkg/partitionservice
/pkg/partitionservice @zhangxu19830126 @iamlinjunhong

# pkg/logservice
/pkg/logservice @zhangxu19830126 @volgariver6

# pkg/logutil
/pkg/logutil @daviszhen @XuPeng-SH

# pkg/objectio
/pkg/objectio @LeftHandCold @XuPeng-SH

# pkg/partition
/pkg/partition @aunjgr @iamlinjunhong

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126 @XuPeng-SH
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @ouyuanning @aunjgr
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @LeftHandCold

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @ouyuanning @aunjgr
/pkg/sql/compile @ouyuanning @aunjgr
/pkg/sql/models @aptend
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr
/pkg/sql/plan/function @ouyuanning @aunjgr
/pkg/sql/plan/explain @ouyuanning @aunjgr
/pkg/sql/plan/tools @daviszhen @gouhongshen
/pkg/sql/colexec/indexjoin @aunjgr
/pkg/sql/colexec/indexbuild @aunjgr
/pkg/sql/colexec/intersect @aunjgr
/pkg/sql/colexec/intersectall @aunjgr
/pkg/sql/colexec/loopanti @aunjgr
/pkg/sql/colexec/loopjoin @aunjgr
/pkg/sql/colexec/loopleft @aunjgr
/pkg/sql/colexec/loopmark @aunjgr
/pkg/sql/colexec/loopsingle @aunjgr
/pkg/sql/colexec/right @aunjgr
/pkg/sql/colexec/rightanti @aunjgr
/pkg/sql/colexec/rightsemi @aunjgr
/pkg/sql/colexec/anti @aunjgr
/pkg/sql/colexec/single @aunjgr
/pkg/sql/colexec/mark @aunjgr
/pkg/sql/colexec/semi @aunjgr
/pkg/sql/colexec/join @aunjgr
/pkg/sql/colexec/hashbuild @aunjgr
/pkg/sql/colexec/left @aunjgr
/pkg/sql/colexec/shuffle @aunjgr
/pkg/sql/colexec/shuffleV2 @aunjgr
/pkg/sql/colexec/shufflebuild @aunjgr
/pkg/sql/colexec/multi_update @ouyuanning

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @ouyuanning @daviszhen @XuPeng-SH

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126 @XuPeng-SH
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend @xzxiong
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend
/pkg/util/fault @XuPeng-SH

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @ouyuanning @aunjgr
/pkg/vm/process @reusee @aunjgr @XuPeng-SH
/pkg/vm/message @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @gouhongshen
/pkg/vm/engine/disttae/logtailreplay @XuPeng-SH @gouhongshen
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @daviszhen @fengttt

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @ouyuanning @aunjgr
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @zhangxu19830126

fix data race (#22427)
  pkg/cdc/table_scanner.go
  pkg/cdc/table_scanner_test.go
Owners: @ck89119, @jiangxinmeng1

fix TestProcessCallBack (#22402)
  pkg/cdc/table_scanner.go
  pkg/cdc/table_scanner_test.go
Owners: @ck89119, @jiangxinmeng1

update
  pkg/cdc/table_scanner.go
Owners: @ck89119, @jiangxinmeng1

update
  pkg/cdc/reader.go
Owners: @ck89119, @jiangxinmeng1

add ut
  pkg/cdc/reader.go
  pkg/cdc/reader_test.go
Owners: @ck89119, @jiangxinmeng1

fix TestProcessCallBack (#22402)
  pkg/cdc/table_scanner.go
  pkg/cdc/table_scanner_test.go
Owners: @ck89119, @jiangxinmeng1

fix data race (#22427)
  pkg/cdc/table_scanner.go
  pkg/cdc/table_scanner_test.go
Owners: @ck89119, @jiangxinmeng1

update
  pkg/cdc/reader.go
Owners: @ck89119, @jiangxinmeng1

add ut
  pkg/cdc/reader.go
  pkg/cdc/reader_test.go
Owners: @ck89119, @jiangxinmeng1

Fix check panic
  pkg/vm/engine/tae/db/gc/v3/check.go
  pkg/vm/engine/tae/db/gc/v3/diskcleaner.go
Owners: @XuPeng-SH

fix ut
  pkg/cdc/reader_test.go
Owners: @ck89119, @jiangxinmeng1

fix ut
  pkg/cdc/reader_test.go
Owners: @ck89119, @jiangxinmeng1

fix ut
  pkg/cdc/reader_test.go
Owners: @ck89119, @jiangxinmeng1

GC collects data from the mo_pitr table and needs to determine whether mo_catalog
  pkg/vm/engine/tae/db/test/db_test.go
  pkg/vm/engine/tae/logtail/snapshot.go
Owners: @XuPeng-SH

Fixed the bug that caused GC Verify to panic when running during checkpoint but not completed. (#22434)
  pkg/vm/engine/tae/db/gc/v3/check.go
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

stage remove enable/disable (#22417)
  pkg/frontend/authenticate.go
  pkg/sql/plan/build_show.go
  test/distributed/cases/snapshot/cluster/restore_cluster_table.result
  test/distributed/cases/snapshot/cluster_level_snapshot_restore_cluster.result
  test/distributed/cases/snapshot/cluster_level_snapshot_restore_system_table_to_nonsys.result
  test/distributed/cases/snapshot/cluster_level_snapshot_restore_system_table_to_sys_account.result
  test/distributed/cases/snapshot/nonsys_restore_system_table_to_nonsys_account.result
  test/distributed/cases/snapshot/restore_dropped_account.result
  test/distributed/cases/snapshot/snapshot_restore_system_table.result
  test/distributed/cases/snapshot/snapshot_restore_system_table.sql
  test/distributed/cases/snapshot/sys_restore_system_table_to_newnonsys_account.result
  test/distributed/cases/snapshot/sys_restore_system_table_to_nonsys_account.result
  test/distributed/cases/snapshot/sys_restore_system_table_to_sys_account.result
  test/distributed/cases/stage/external_stage.result
  test/distributed/cases/stage/external_stage_columns.result
  test/distributed/cases/stage/stage.result
  test/distributed/cases/stage/stage_based_stage.result
  test/distributed/cases/stage/stage_based_stage_columns.result
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @aressu1985, @heni02

fix account id
  pkg/iscp/data_retriever.go
  pkg/iscp/index_consumer.go
  pkg/iscp/types.go
  pkg/vectorindex/hnsw/sync.go
Owners: @XuPeng-SH, @fengttt

fix data retriever mock
  pkg/iscp/index_consumer_test.go
  pkg/iscp/mock_consumer.go
Owners: @XuPeng-SH

allow queries selecting distance to use vector index (#22424)
  pkg/sql/plan/apply_indices_hnsw.go
  pkg/sql/plan/apply_indices_ivfflat.go
  pkg/sql/plan/apply_indices_vector.go
  test/distributed/cases/vector/vector_hnsw.result
  test/distributed/cases/vector/vector_hnsw.sql
  test/distributed/cases/vector/vector_index.result
  test/distributed/cases/vector/vector_index.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

fix datalink cast (#22418)
  pkg/sql/plan/function/func_cast.go
  test/distributed/cases/function/func_load_file_datalink.result
  test/distributed/cases/function/func_load_file_datalink.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

allow queries selecting distance to use vector index (#22426)
  pkg/sql/plan/apply_indices_hnsw.go
  pkg/sql/plan/apply_indices_ivfflat.go
  pkg/sql/plan/apply_indices_vector.go
  test/distributed/cases/vector/vector_hnsw.result
  test/distributed/cases/vector/vector_hnsw.sql
  test/distributed/cases/vector/vector_index.result
  test/distributed/cases/vector/vector_index.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

fix sca
  pkg/sql/compile/ddl.go
Owners: @ouyuanning, @aunjgr

force next after StaleReadErr (#22431)
  pkg/cdc/reader.go
  pkg/cdc/reader_test.go
  pkg/cdc/table_scanner.go
  pkg/cdc/table_scanner_test.go
Owners: @ck89119, @jiangxinmeng1

add bvt and ut for inner/left join 3.0 (#22365)
  pkg/sql/colexec/join/join_test.go
  pkg/sql/colexec/left/join_test.go
  test/distributed/cases/join/join.result
  test/distributed/cases/join/join.test
  test/distributed/cases/join/leftjoin.result
  test/distributed/cases/join/leftjoin.test
Owners: @aunjgr, @aressu1985, @heni02

fore next after StaleReadErr (#22432)
  pkg/cdc/reader.go
  pkg/cdc/reader_test.go
  pkg/cdc/table_scanner.go
  pkg/cdc/table_scanner_test.go
Owners: @ck89119, @jiangxinmeng1

fix
  pkg/sql/colexec/multi_update/multi_update_partition.go
Owners: @ouyuanning

GC collects data from the mo_pitr table and needs to determine whether mo_catalog (#22436)
  pkg/vm/engine/tae/db/test/db_test.go
  pkg/vm/engine/tae/logtail/snapshot.go
Owners: @XuPeng-SH

allow queries selecting distance to use vector index (#22425)
  pkg/sql/plan/apply_indices_hnsw.go
  pkg/sql/plan/apply_indices_ivfflat.go
  pkg/sql/plan/apply_indices_vector.go
  test/distributed/cases/vector/vector_hnsw.result
  test/distributed/cases/vector/vector_hnsw.sql
  test/distributed/cases/vector/vector_index.result
  test/distributed/cases/vector/vector_index.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

update
  pkg/vm/engine/disttae/change_handle.go
  pkg/vm/engine/disttae/logtailreplay/partition_state.go
Owners: @XuPeng-SH, @gouhongshen

fix snapshot mismatch when clone
  pkg/frontend/snapshot.go
  pkg/sql/plan/build_table_clone.go
  proto/plan.proto
  test/distributed/cases/snapshot/clone/snapshot_mismatch.result
  test/distributed/cases/snapshot/clone/snapshot_mismatch.sql
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @aressu1985, @heni02

adding debug log for clone
  pkg/frontend/mysql_cmd_executor.go
  pkg/sql/parsers/tree/clone.go
Owners: @daviszhen, @XuPeng-SH, @iamlinjunhong

fix bvt
  pkg/frontend/authenticate.go
  pkg/frontend/authenticate_test.go
Owners: @daviszhen, @XuPeng-SH

fix bvt
  pkg/frontend/authenticate.go
  test/distributed/cases/snapshot/clone/snapshot_mismatch.result
  test/distributed/cases/snapshot/clone/snapshot_mismatch.sql
Owners: @daviszhen, @XuPeng-SH, @aressu1985, @heni02

merge main
  pkg/pb/plan/plan.pb.go
Owners: @ouyuanning, @aunjgr

add ut
  pkg/vm/engine/disttae/change_handle.go
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH, @gouhongshen

update
  pkg/vm/engine/disttae/change_handle.go
  pkg/vm/engine/disttae/txn_table.go
Owners: @XuPeng-SH, @gouhongshen

fix
  pkg/common/reuse/types.go
Owners: @zhangxu19830126

update ut
  pkg/vm/engine/disttae/change_handle.go
  pkg/vm/engine/disttae/db.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH, @gouhongshen

update
  pkg/vm/engine/disttae/change_handle.go
Owners: @XuPeng-SH, @gouhongshen

bug fix default with sys account and change to particular id by options.WithAccountID
  pkg/iscp/index_consumer.go
  pkg/iscp/iteration.go
  pkg/iscp/mock_consumer.go
Owners: @XuPeng-SH
