Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @fengttt, @zhangxu19830126, @XuPeng-SH, @dengn, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @volgariver6, @ck89119, @jiangxinmeng1, @reusee, @aptend, @ouyuanning, @xzxiong, @iamlinjunhong, @gouhongshen

revert
  pkg/iscp/mock_consumer.go
Owners: @XuPeng-SH

system account
  pkg/iscp/mock_consumer.go
Owners: @XuPeng-SH

Revert "adding debug log for clone"
  pkg/frontend/mysql_cmd_executor.go
  pkg/sql/parsers/tree/clone.go
Owners: @daviszhen, @XuPeng-SH, @iamlinjunhong

fix privilege
  pkg/frontend/authenticate.go
  test/distributed/cases/snapshot/clone/clone_privilege.result
  test/distributed/cases/snapshot/clone/clone_privilege.sql
Owners: @daviszhen, @XuPeng-SH, @aressu1985, @heni02

fix privilege
  pkg/frontend/authenticate.go
  test/distributed/cases/snapshot/clone/clone_privilege.result
  test/distributed/cases/snapshot/clone/clone_privilege.sql
Owners: @daviszhen, @XuPeng-SH, @aressu1985, @heni02

add clone case to 3.0-dev (#22420)
  test/distributed/cases/snapshot/clone/clone.result
  test/distributed/cases/snapshot/clone/clone.sql
  test/distributed/cases/snapshot/clone/clone_db_table_to_new_db_table.result
  test/distributed/cases/snapshot/clone/clone_db_table_to_new_db_table.sql
  test/distributed/cases/snapshot/clone/clone_sys_db_table_to_new_db_table.result
  test/distributed/cases/snapshot/clone/clone_sys_db_table_to_new_db_table.sql
Owners: @aressu1985, @heni02

clone with snapshot should match the snapshot level and owner. (#22423)
  pkg/frontend/authenticate.go
  pkg/frontend/authenticate_test.go
  pkg/frontend/snapshot.go
  pkg/pb/plan/plan.pb.go
  pkg/sql/plan/build_table_clone.go
  proto/plan.proto
  test/distributed/cases/snapshot/clone/clone_privilege.result
  test/distributed/cases/snapshot/clone/clone_privilege.sql
  test/distributed/cases/snapshot/clone/snapshot_mismatch.result
  test/distributed/cases/snapshot/clone/snapshot_mismatch.sql
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @aressu1985, @heni02

to 3.0: clone with snapshot should match the snapshot level and owner (#22429)
  pkg/frontend/authenticate.go
  pkg/frontend/authenticate_test.go
  pkg/frontend/snapshot.go
  pkg/pb/plan/plan.pb.go
  pkg/sql/plan/build_table_clone.go
  proto/plan.proto
  test/distributed/cases/snapshot/clone/clone_privilege.result
  test/distributed/cases/snapshot/clone/clone_privilege.sql
  test/distributed/cases/snapshot/clone/snapshot_mismatch.result
  test/distributed/cases/snapshot/clone/snapshot_mismatch.sql
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @aressu1985, @heni02

fix ivf index name
  pkg/iscp/index_sqlwriter.go
  pkg/sql/compile/ddl.go
  pkg/sql/compile/ddl_index_algo.go
Owners: @XuPeng-SH, @ouyuanning, @aunjgr

Force next after StaleReadErr (#22433)
  pkg/cdc/reader.go
  pkg/cdc/reader_test.go
Owners: @ck89119, @jiangxinmeng1

wip
  pkg/common/moerr/error.go
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/ddl.go
  pkg/sql/compile/operator.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_table_clone.go
  pkg/vm/engine/disttae/txn_database.go
  proto/plan.proto
Owners: @xzxiong, @ouyuanning, @aunjgr, @XuPeng-SH, @gouhongshen

wip: index table is empty
  pkg/defines/type.go
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/sql_executor.go
  pkg/sql/plan/bind_insert.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_dml_util.go
  pkg/sql/plan/build_table_clone.go
  pkg/util/executor/options.go
  pkg/util/executor/types.go
  proto/plan.proto
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @zhangxu19830126

fix sca and free clone
  pkg/common/moerr/error.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/compile.go
  pkg/sql/plan/build_table_clone.go
Owners: @xzxiong, @ouyuanning, @aunjgr

copy index done
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/compile.go
  pkg/sql/plan/bind_insert.go
  pkg/sql/plan/build_alter_add_column.go
  pkg/sql/plan/build_alter_change_column.go
  pkg/sql/plan/build_alter_modify_column.go
  pkg/sql/plan/build_alter_rename_column.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_ddl.go
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

fix read the newly created table as data srouce
  pkg/sql/colexec/table_clone/table_clone.go
  pkg/vm/engine/disttae/txn_database.go
Owners: @ouyuanning, @aunjgr, @XuPeng-SH, @gouhongshen

add bvt
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @aressu1985, @heni02

update bvt
  pkg/sql/colexec/table_clone/table_clone.go
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

merge main
  pkg/pb/plan/plan.pb.go
Owners: @ouyuanning, @aunjgr

wip
  pkg/common/moerr/error.go
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/ddl.go
  pkg/sql/compile/operator.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_table_clone.go
  pkg/vm/engine/disttae/txn_database.go
  proto/plan.proto
Owners: @xzxiong, @ouyuanning, @aunjgr, @XuPeng-SH, @gouhongshen

fix read the newly created table as data srouce
  pkg/sql/colexec/table_clone/table_clone.go
  pkg/vm/engine/disttae/txn_database.go
Owners: @ouyuanning, @aunjgr, @XuPeng-SH, @gouhongshen

wip: index table is empty
  pkg/defines/type.go
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/sql_executor.go
  pkg/sql/plan/bind_insert.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_dml_util.go
  pkg/sql/plan/build_table_clone.go
  pkg/util/executor/options.go
  pkg/util/executor/types.go
  proto/plan.proto
Owners: @daviszhen, @XuPeng-SH, @ouyuanning, @aunjgr, @zhangxu19830126

fix sca and free clone
  pkg/common/moerr/error.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/compile.go
  pkg/sql/plan/build_table_clone.go
Owners: @xzxiong, @ouyuanning, @aunjgr

add bvt
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @aressu1985, @heni02

copy index done
  pkg/sql/colexec/multi_update/insert.go
  pkg/sql/compile/alter.go
  pkg/sql/compile/compile.go
  pkg/sql/plan/bind_insert.go
  pkg/sql/plan/build_alter_add_column.go
  pkg/sql/plan/build_alter_change_column.go
  pkg/sql/plan/build_alter_modify_column.go
  pkg/sql/plan/build_alter_rename_column.go
  pkg/sql/plan/build_alter_table.go
  pkg/sql/plan/build_ddl.go
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

update bvt
  pkg/sql/colexec/table_clone/table_clone.go
  test/distributed/cases/snapshot/clone/clone_in_alter_table.result
  test/distributed/cases/snapshot/clone/clone_in_alter_table.sql
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

merge main
  pkg/pb/plan/plan.pb.go
Owners: @ouyuanning, @aunjgr

colexec/group: add spill
  pkg/fileservice/file_service_test.go
  pkg/fileservice/sub_path.go
  pkg/sql/colexec/aggexec/aggFrame_test.go
  pkg/sql/colexec/aggexec/approx_count.go
  pkg/sql/colexec/aggexec/concat.go
  pkg/sql/colexec/aggexec/count.go
  pkg/sql/colexec/aggexec/fromBytesRetBytes.go
  pkg/sql/colexec/aggexec/fromBytesRetFixed.go
  pkg/sql/colexec/aggexec/fromFixedRetBytes.go
  pkg/sql/colexec/aggexec/fromFixedRetFixed.go
  pkg/sql/colexec/aggexec/median.go
  pkg/sql/colexec/aggexec/serialize.go
  pkg/sql/colexec/aggexec/types.go
  pkg/sql/colexec/aggexec/window.go
  pkg/sql/colexec/group/container.go
  pkg/sql/colexec/group/exec.go
  pkg/sql/colexec/group/exec_test.go
  pkg/sql/colexec/group/execctx.go
  pkg/sql/colexec/group/group.go
  pkg/sql/colexec/group/group_result_buffer.go
  pkg/sql/colexec/group/group_result_none_block.go
  pkg/sql/colexec/group/group_test.go
  pkg/sql/colexec/group/hashmap.go
  pkg/sql/colexec/group/spill_manager.go
  pkg/sql/colexec/group/spill_manager_test.go
  pkg/sql/colexec/group/spill_test.go
  pkg/sql/colexec/group/testspill/spill_test.go
  pkg/sql/colexec/group/types.go
  pkg/testutil/util_compare.go
Owners: @reusee, @fengttt, @ouyuanning, @aunjgr, @daviszhen, @XuPeng-SH

update applyISCPLog
  pkg/iscp/executor.go
Owners: @XuPeng-SH

Revert "avoid using the slow String() of protobuf (#22413)"
  pkg/pb/plan/plan.go
  pkg/sql/parsers/tree/constant.go
  pkg/sql/plan/order_binder.go
  pkg/sql/plan/query_builder.go
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @iamlinjunhong

revert some #22413 change
  pkg/pb/plan/plan.go
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr

add gc in memory jobs
  pkg/iscp/consumer_entry.go
  pkg/iscp/executor.go
  pkg/iscp/table_entry.go
  pkg/iscp/types.go
Owners: @XuPeng-SH

update
  pkg/iscp/table_entry.go
Owners: @XuPeng-SH

update
  pkg/iscp/executor.go
  pkg/iscp/worker.go
Owners: @XuPeng-SH

fix
  pkg/pb/plan/plan.go
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr

update
  pkg/iscp/executor.go
Owners: @XuPeng-SH

fix data race for taskservice
  pkg/cnservice/server.go
  pkg/cnservice/server_task.go
  pkg/config/configuration.go
  pkg/frontend/back_exec.go
  pkg/frontend/cdc_dao.go
  pkg/frontend/cdc_handle.go
  pkg/frontend/connector.go
  pkg/frontend/session.go
  pkg/frontend/show_account.go
  pkg/frontend/task.go
Owners: @reusee, @daviszhen, @XuPeng-SH, @fengttt

fix code coverage
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr

secondary index table support replace into
  pkg/sql/plan/bind_replace.go
Owners: @ouyuanning, @aunjgr

support secondary index table
  pkg/sql/plan/bind_replace.go
Owners: @ouyuanning, @aunjgr

fix
  pkg/sql/colexec/deletion/deletion_partition.go
  pkg/sql/colexec/insert/insert_partition.go
  pkg/sql/colexec/multi_update/multi_update_partition.go
  test/distributed/cases/ddl/mysql_ddl_3.result
Owners: @ouyuanning, @aunjgr, @aressu1985, @heni02

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @fengttt
.github/actions @fengttt
.github/workflow @fengttt

# files under the top-level directory
/*.yml @fengttt
/*.yaml @fengttt
/.gitignore @fengttt
/.dockerignore @fengttt
/Makefile @zhangxu19830126 @XuPeng-SH
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @fengttt
/pkg @fengttt
/proto @zhangxu19830126 @XuPeng-SH
/cmd @daviszhen @zhangxu19830126 @XuPeng-SH
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold

/pkg/datasync @volgariver6 @LeftHandCold

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

#pkg/cdc
/pkg/cdc @ck89119 @jiangxinmeng1

#pkg/iscp
/pkg/iscp @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen @XuPeng-SH

/pkg/cacheservice @volgariver6 @aptend

/pkg/clusterservice @volgariver6 @aptend

# pkg/common @fengttt
/pkg/common @zhangxu19830126 @XuPeng-SH
/pkg/common/mpool @reusee @XuPeng-SH
/pkg/common/malloc @reusee
/pkg/common/spool @reusee @ouyuanning @aunjgr
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr @XuPeng-SH
/pkg/common/hashmap @aunjgr
/pkg/common/moerr @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen @fengttt

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH
/pkg/container/pSpool @reusee @aunjgr @ouyuanning

# pkg/defines
/pkg/defines @daviszhen @XuPeng-SH

# pkg/embed
/pkg/embed @zhangxu19830126

# pkg/tnservice
/pkg/tnservice @zhangxu19830126 @XuPeng-SH

# pkg/fileservice
/pkg/fileservice @reusee @fengttt

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @XuPeng-SH

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @volgariver6

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/shardservice
/pkg/shardservice @zhangxu19830126

# pkg/partitionservice
/pkg/partitionservice @zhangxu19830126 @iamlinjunhong

# pkg/logservice
/pkg/logservice @zhangxu19830126 @volgariver6

# pkg/logutil
/pkg/logutil @daviszhen @XuPeng-SH

# pkg/objectio
/pkg/objectio @LeftHandCold @XuPeng-SH

# pkg/partition
/pkg/partition @aunjgr @iamlinjunhong

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126 @XuPeng-SH
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @ouyuanning @aunjgr
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @LeftHandCold

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @ouyuanning @aunjgr
/pkg/sql/compile @ouyuanning @aunjgr
/pkg/sql/models @aptend
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr
/pkg/sql/plan/function @ouyuanning @aunjgr
/pkg/sql/plan/explain @ouyuanning @aunjgr
/pkg/sql/plan/tools @daviszhen @gouhongshen
/pkg/sql/colexec/indexjoin @aunjgr
/pkg/sql/colexec/indexbuild @aunjgr
/pkg/sql/colexec/intersect @aunjgr
/pkg/sql/colexec/intersectall @aunjgr
/pkg/sql/colexec/loopanti @aunjgr
/pkg/sql/colexec/loopjoin @aunjgr
/pkg/sql/colexec/loopleft @aunjgr
/pkg/sql/colexec/loopmark @aunjgr
/pkg/sql/colexec/loopsingle @aunjgr
/pkg/sql/colexec/right @aunjgr
/pkg/sql/colexec/rightanti @aunjgr
/pkg/sql/colexec/rightsemi @aunjgr
/pkg/sql/colexec/anti @aunjgr
/pkg/sql/colexec/single @aunjgr
/pkg/sql/colexec/mark @aunjgr
/pkg/sql/colexec/semi @aunjgr
/pkg/sql/colexec/join @aunjgr
/pkg/sql/colexec/hashbuild @aunjgr
/pkg/sql/colexec/left @aunjgr
/pkg/sql/colexec/shuffle @aunjgr
/pkg/sql/colexec/shuffleV2 @aunjgr
/pkg/sql/colexec/shufflebuild @aunjgr
/pkg/sql/colexec/multi_update @ouyuanning

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @ouyuanning @daviszhen @XuPeng-SH

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126 @XuPeng-SH
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend @xzxiong
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend
/pkg/util/fault @XuPeng-SH

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @ouyuanning @aunjgr
/pkg/vm/process @reusee @aunjgr @XuPeng-SH
/pkg/vm/message @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @gouhongshen
/pkg/vm/engine/disttae/logtailreplay @XuPeng-SH @gouhongshen
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @daviszhen @fengttt

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @ouyuanning @aunjgr
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @zhangxu19830126
