Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @sukki37, @zhangxu19830126, @dengn, @fengttt, @aunjgr, @daviszhen, @nnsgmsone, @xzxiong, @reusee, @w-zr, @iamlinjunhong, @ouyuanning, @cnutshell, @aptend, @LeftHandCold, @XuPeng-SH, @aressu1985, @heni02

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI related stuff
.github @sukki37
.github/actions @sukki37
.github/workflow @sukki37

# files under the top level directory
/*.yml @sukki37
/*.yaml @sukki37
/Makefile @zhangxu19830126
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt

# top level folders
/cgo @aunjgr
/docs @dengn
/etc @zhangxu19830126
/optools @sukki37

# cmd
/cmd/db-server @daviszhen
/cmd/generate-config @daviszhen
/cmd/mo-service @zhangxu19830126

# pkg itself
/pkg @sukki37

# pkg/common
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @nnsgmsone
/pkg/common/hashmap @nnsgmsone
/pkg/common/moerror @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/stopper @zhangxu19830126
/pkg/common/log @zhangxu19830126

# other directories under pkg
/pkg/cnservice @nnsgmsone @reusee @daviszhen
/pkg/compare @nnsgmsone
/pkg/compress @nnsgmsone
/pkg/config @daviszhen
/pkg/container @nnsgmsone
/pkg/defines @daviszhen
/pkg/dnservice @zhangxu19830126
/pkg/taskservice @zhangxu19830126
/pkg/encoding @nnsgmsone
/pkg/errno @nnsgmsone
/pkg/fileservice @reusee
/pkg/frontend @daviszhen
/pkg/hakeeper @zhangxu19830126 @w-zr
/pkg/logservice @zhangxu19830126
/pkg/lockservice @zhangxu19830126 @w-zr
/pkg/logutil @daviszhen
/pkg/partition @nnsgmsone
/pkg/sort @nnsgmsone
/pkg/sql/colexec @nnsgmsone
/pkg/sql/compile @nnsgmsone
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr
/pkg/tests/service @zhangxu19830126 @cnutshell
/pkg/tests/txn @zhangxu19830126
/pkg/testutil @nnsgmsone
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee
/pkg/vectorize @aunjgr
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/catalog @nnsgmsone
/pkg/objectio @LeftHandCold
/pkg/clusterservice @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @nnsgmsone
/proto/plan.proto @nnsgmsone
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade. 
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @nnsgmsone
/pkg/pb/plan @nnsgmsone
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126 

# engines and engine related stuff
/pkg/vm @nnsgmsone
/pkg/vm/engine @nnsgmsone
/pkg/vm/engine/disttae @nnsgmsone
/pkg/vm/engine/tae @XuPeng-SH 
/pkg/vm/engine/memoryengine @reusee

# from the initial CODEOWNERS file
/test @aressu1985 @heni02

Remove roaring.BitMap Part1
  pkg/container/nulls/nulls.go
  pkg/vm/engine/tae/containers/types.go
  pkg/vm/engine/tae/containers/utils.go
  pkg/vm/engine/tae/containers/vector.go
  pkg/vm/engine/tae/containers/vecwindow.go
Owners: @nnsgmsone, @XuPeng-SH

Removed Deprecated functions in DN vector
  pkg/vm/engine/tae/containers/types.go
  pkg/vm/engine/tae/containers/vector.go
  pkg/vm/engine/tae/containers/vecwindow.go
Owners: @XuPeng-SH

limit account name characters (#8139)
  pkg/frontend/authenticate.go
  test/distributed/cases/tenant/tenant.result
  test/distributed/cases/zz_accesscontrol/create_account.result
Owners: @daviszhen, @aressu1985, @heni02

fix bvt tests
  test/distributed/cases/dml/select/sp_table.sql
Owners: @aressu1985, @heni02

Add more builtin/agg function support
  pkg/sql/colexec/expr_eval.go
  pkg/sql/colexec/multi_col/group_concat/group_concat.go
  pkg/sql/plan/function/aggregate.go
  pkg/sql/plan/function/builtin/multi/concat_ws.go
  pkg/sql/plan/function/builtin/multi/lpad.go
  pkg/sql/plan/function/builtin/unary/ltrim.go
  pkg/sql/plan/function/builtin/unary/reverse.go
  pkg/sql/plan/function/builtin/unary/rtrim.go
  pkg/sql/plan/function/builtins.go
  pkg/sql/plan/function/operator/cast2.go
  pkg/sql/plan/function/type_check.go
Owners: @nnsgmsone, @ouyuanning, @aunjgr

Removed ReadFromFile() in DN vector
  pkg/vm/engine/tae/containers/types.go
  pkg/vm/engine/tae/containers/vector.go
  pkg/vm/engine/tae/containers/vector_test.go
  pkg/vm/engine/tae/containers/vecwindow.go
Owners: @XuPeng-SH

copy when getting element from dn vector (#8176)
  pkg/vm/engine/tae/catalog/catalog.go
  pkg/vm/engine/tae/catalog/schema.go
  pkg/vm/engine/tae/compute/compute.go
  pkg/vm/engine/tae/containers/types.go
  pkg/vm/engine/tae/containers/vecbase.go
  pkg/vm/engine/tae/containers/vecimpl.go
  pkg/vm/engine/tae/containers/vector.go
  pkg/vm/engine/tae/containers/vecview.go
  pkg/vm/engine/tae/containers/vecwindow.go
  pkg/vm/engine/tae/index/filter.go
  pkg/vm/engine/tae/index/tree.go
  pkg/vm/engine/tae/index/zonemap.go
  pkg/vm/engine/tae/stl/containers/stdvec.go
  pkg/vm/engine/tae/stl/containers/strvec.go
  pkg/vm/engine/tae/stl/types.go
  pkg/vm/engine/tae/tables/ablk.go
  pkg/vm/engine/tae/tables/base.go
  pkg/vm/engine/tae/tables/indexwrapper/immutindex.go
  pkg/vm/engine/tae/tables/indexwrapper/mutindex.go
  pkg/vm/engine/tae/txn/txnimpl/relation.go
Owners: @XuPeng-SH

Removed Capacity() from DN vector
  pkg/vm/engine/tae/containers/batch.go
  pkg/vm/engine/tae/containers/types.go
  pkg/vm/engine/tae/containers/vector.go
  pkg/vm/engine/tae/containers/vector_test.go
Owners: @XuPeng-SH
