Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @sukki37, @zhangxu19830126, @dengn, @fengttt, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @qingxinhome, @XuPeng-SH, @reusee, @volgariver6, @m-schen, @xzxiong, @w-zr, @aptend, @ouyuanning, @badboynt1, @iamlinjunhong, @triump2020, @jiangxinmeng1, @aylei

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @sukki37
.github/actions @sukki37
.github/workflow @sukki37

# files under the top-level directory
/*.yml @sukki37
/*.yaml @sukki37
/.gitignore @sukki37
/.dockerignore @sukki37
/Makefile @zhangxu19830126
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @sukki37
/pkg @sukki37
/proto @zhangxu19830126
/cmd @daviszhen @zhangxu19830126
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold @qingxinhome

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen

/pkg/cacheservice @volgariver6 

/pkg/clusterservice @volgariver6 




# pkg/common
/pkg/common @zhangxu19830126
/pkg/common/mpool @m-schen
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr
/pkg/common/hashmap @aunjgr
/pkg/common/moerror @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr

# pkg/defines
/pkg/defines @daviszhen

# pkg/tnservice
/pkg/tnservice @zhangxu19830126

# pkg/fileservice
/pkg/fileservice @reusee

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @qingxinhome

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @w-zr

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/logservice
/pkg/logservice @zhangxu19830126

# pkg/logutil
/pkg/logutil @daviszhen

# pkg/objectio
/pkg/objectio @LeftHandCold

# pkg/partition
/pkg/partition @aunjgr @m-schen

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @m-schen
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr @m-schen

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @qingxinhome

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @m-schen
/pkg/sql/compile @m-schen @ouyuanning @aunjgr @badboynt1
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr @badboynt1
/pkg/sql/plan/function @m-schen
/pkg/sql/plan/explain @ouyuanning @aunjgr @badboynt1 @qingxinhome

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @m-schen

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @m-schen
/pkg/vm/process @m-schen @XuPeng-SH @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @triump2020
/pkg/vm/engine/disttae/logtailreplay @reusee @triump2020
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @aylei @daviszhen

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @m-schen
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH

fix hung
  pkg/frontend/result_row_stmt.go
  pkg/frontend/session.go
Owners: @daviszhen, @qingxinhome

[cherry-pick-15957] : let preinsert can get outcnt from stats (#16004)
  pkg/pb/pipeline/pipeline.pb.go
  pkg/sql/colexec/preinsert/types.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/scopeRemoteRun.go
  proto/pipeline.proto
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

update
  test/distributed/cases/snapshot/snapshot_restore_account_level.sql
Owners: @aressu1985, @heni02

fix hung (#16014)
  pkg/frontend/result_row_stmt.go
  pkg/frontend/session.go
Owners: @daviszhen, @qingxinhome

add error log in taskserivce
  pkg/taskservice/mysql_task_storage.go
  pkg/taskservice/task_service.go
Owners: @zhangxu19830126

add error log in taskserivce
  pkg/taskservice/mysql_task_storage.go
  pkg/taskservice/task_service.go
Owners: @zhangxu19830126

fix argument type of prefix_in
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @badboynt1

Restore bootstrap to establish index code for mo-task (#16011)
  pkg/bootstrap/service.go
  pkg/frontend/predefined.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

Restore bootstrap to establish index code for mo-task (#16012)
  pkg/bootstrap/service.go
  pkg/frontend/predefined.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

add serialize codes for new exec1
  pkg/sql/colexec/aggexec/aggContext.go
  pkg/sql/colexec/aggexec/fromFixedRetFixed.go
  pkg/sql/colexec/aggexec/serialize.pb.go
  pkg/sql/colexec/aggexec/serialize.proto
Owners: @m-schen

Do not delete the checkpoint referenced by the snapshot
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

change use workflow branch
  .github/workflows/entrypoint.yaml
  .github/workflows/image-build.yml
  .github/workflows/merge-trigger-standalone.yaml
  .github/workflows/merge-trigger-tke.yaml
  .github/workflows/release.yml
  .github/workflows/robot.yml
Owners: @sukki37

fix argument type of prefix_in (#16016)
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @badboynt1

tmp
  pkg/pb/shard/shard.pb.go
  pkg/shardservice/cfg.go
  pkg/shardservice/env.go
  pkg/shardservice/env_test.go
  pkg/shardservice/filters.go
  pkg/shardservice/filters_test.go
  pkg/shardservice/operator.go
  pkg/shardservice/runtime.go
  pkg/shardservice/runtime_test.go
  pkg/shardservice/scheduler_allocate.go
  pkg/shardservice/scheduler_balance.go
  pkg/shardservice/shard_server.go
  pkg/shardservice/types.go
  proto/shard.proto
Owners: @zhangxu19830126, @sukki37

preallocate by estimate row count
  pkg/incrservice/service.go
  pkg/incrservice/table_cache.go
  pkg/incrservice/types.go
  pkg/sql/colexec/preinsert/preinsert.go
Owners: @zhangxu19830126, @m-schen

fix
  pkg/incrservice/service.go
  pkg/incrservice/table_cache.go
  pkg/incrservice/types.go
  pkg/sql/colexec/preinsert/preinsert.go
Owners: @zhangxu19830126, @m-schen

fix hung (#16015)
  pkg/frontend/result_row_stmt.go
  pkg/frontend/session.go
Owners: @daviszhen, @qingxinhome

update use action branch
  .github/workflows/entrypoint.yaml
Owners: @sukki37

fix merge
  pkg/frontend/back_exec.go
  pkg/frontend/computation_wrapper.go
  pkg/frontend/export.go
  pkg/frontend/output.go
  pkg/frontend/query_result.go
  pkg/frontend/txn.go
Owners: @daviszhen, @qingxinhome

update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
Owners: @XuPeng-SH

add error log in taskservice (#16017)
  pkg/taskservice/mysql_task_storage.go
  pkg/taskservice/task_service.go
Owners: @zhangxu19830126

add error log in taskservice (#16018)
  pkg/taskservice/mysql_task_storage.go
  pkg/taskservice/task_service.go
Owners: @zhangxu19830126

fix argument type of prefix_in (#16016)
  pkg/sql/plan/utils.go
Owners: @ouyuanning, @aunjgr, @badboynt1

add quote to dbname when drop account (#15985)
  pkg/frontend/authenticate.go
  test/distributed/cases/zz_accesscontrol/drop_account.result
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @daviszhen, @qingxinhome, @aressu1985, @heni02

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
  pkg/vm/engine/tae/logtail/snapshot.go
  pkg/vm/engine/tae/options/types.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/options/types.go
Owners: @XuPeng-SH

[bug] fix ut TestAddressManager (#16003)
  pkg/proxy/handler.go
  pkg/util/address/address.go
  pkg/util/address/address_test.go
Owners: @zhangxu19830126, @volgariver6

add new single agg exec2
  pkg/sql/colexec/aggexec/aggMethod2.go
  pkg/sql/colexec/aggexec/aggResult.go
  pkg/sql/colexec/aggexec/fromFixedRetBytes.go
Owners: @m-schen

add dump profile
  cmd/mo-service/main.go
  pkg/cnservice/server.go
Owners: @zhangxu19830126, @reusee, @daviszhen

improve incr service to 1.2 (#16020)
  pkg/incrservice/service.go
  pkg/incrservice/table_cache.go
  pkg/incrservice/types.go
  pkg/sql/colexec/preinsert/preinsert.go
Owners: @zhangxu19830126, @m-schen

add dump profile
  cmd/mo-service/main.go
  pkg/cnservice/server.go
Owners: @zhangxu19830126, @reusee, @daviszhen

fix bug: lost escaped by
  pkg/pb/plan/plan.pb.go
  pkg/sql/compile/compile.go
  pkg/sql/plan/build_load.go
  proto/plan.proto
Owners: @ouyuanning, @aunjgr, @m-schen, @badboynt1

change load sql for bulkInsert
  pkg/util/export/etl/db/db_holder.go
Owners: @xzxiong

add dump profile (#16025)
  cmd/mo-service/main.go
  pkg/cnservice/server.go
Owners: @zhangxu19830126, @reusee, @daviszhen

add quote to dbname when drop account (#1.2-dev) (#16024)
  pkg/frontend/authenticate.go
  test/distributed/cases/zz_accesscontrol/drop_account.result
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @daviszhen, @qingxinhome, @aressu1985, @heni02

in done
  pkg/vm/engine/disttae/logtailreplay/rows_iter.go
  pkg/vm/engine/disttae/txn_table.go
  test/distributed/cases/disttae_filters/ranges_filters/ranges_filters.result
  test/distributed/cases/disttae_filters/ranges_filters/ranges_filters.sql
  test/distributed/cases/disttae_filters/reader_filters/partition_state_primary_key_index_filter.result
  test/distributed/cases/disttae_filters/reader_filters/partition_state_primary_key_index_filter.sql
Owners: @reusee, @triump2020, @XuPeng-SH, @aressu1985, @heni02

fix testAll again
  pkg/vm/engine/tae/db/db.go
Owners: @XuPeng-SH

fix testAll again
  pkg/vm/engine/tae/db/db.go
Owners: @XuPeng-SH

sync to 1.2: fix `ForceCheckpoint` retry logic. (#16030)
  pkg/vm/engine/tae/db/db.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/checkpoint.go
  pkg/vm/engine/tae/logtail/snapshot.go
Owners: @XuPeng-SH
