Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @sukki37, @zhangxu19830126, @dengn, @fengttt, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @qingxinhome, @XuPeng-SH, @reusee, @volgariver6, @m-schen, @xzxiong, @w-zr, @aptend, @ouyuanning, @badboynt1, @iamlinjunhong, @triump2020, @jiangxinmeng1, @aylei

remove bvt tag of snapshot read (#15893)
  test/distributed/cases/snapshot/snapshot_read.sql
  test/distributed/cases/snapshot/snapshot_read_1.sql
  test/distributed/cases/snapshot/snapshot_read_2.sql
  test/distributed/cases/snapshot/snapshot_read_3.sql
Owners: @aressu1985, @heni02

Fix the bug of losing deltaLoc when doing checkpoint
  pkg/vm/engine/tae/tables/updates/mvcc.go
Owners: @XuPeng-SH

fix index table merge too much on 1.2 (#15981)
  pkg/util/metric/v2/dashboard/grafana_dashboard_task.go
  pkg/vm/engine/tae/db/merge/executor.go
Owners: @zhangxu19830126, @aptend, @XuPeng-SH

fix
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @aressu1985, @heni02

update
  pkg/vm/engine/disttae/db.go
  pkg/vm/engine/disttae/logtailreplay/partition.go
  pkg/vm/engine/disttae/txn.go
  pkg/vm/engine/disttae/txn_table.go
  pkg/vm/engine/disttae/types.go
Owners: @XuPeng-SH, @triump2020, @reusee

fix index table merge too much (#15980)
  pkg/util/metric/v2/dashboard/grafana_dashboard_task.go
  pkg/vm/engine/tae/db/merge/executor.go
Owners: @zhangxu19830126, @aptend, @XuPeng-SH

remove log
  pkg/vm/engine/disttae/engine.go
Owners: @XuPeng-SH, @triump2020

update
  pkg/vm/engine/disttae/cache/catalog.go
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/disttae/util.go
  pkg/vm/engine/disttae/util_test.go
Owners: @XuPeng-SH, @triump2020

serial_full(a,b) done
  pkg/vm/engine/disttae/logtailreplay/rows_iter.go
  pkg/vm/engine/disttae/txn_table.go
Owners: @reusee, @triump2020, @XuPeng-SH

add test case for snapshot read
  test/distributed/cases/snapshot/snapshot_restore_account_level.sql
Owners: @aressu1985, @heni02

force index join on one cn (#15986)
  pkg/sql/plan/explain/explain_node.go
  pkg/sql/plan/opt_misc.go
  test/distributed/cases/optimizer/pushdown.result
Owners: @ouyuanning, @aunjgr, @badboynt1, @qingxinhome, @aressu1985, @heni02

fix dml
  pkg/sql/plan/apply_indices.go
  pkg/sql/plan/build_insert.go
Owners: @ouyuanning, @aunjgr, @badboynt1

Supports Information_Schema `FILES` and is compatible with MySQL
  pkg/bootstrap/versions/v1_2_0/tenant_upgrade_list.go
  pkg/util/sysview/predefined.go
  pkg/util/sysview/sysview.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

Predefine system table as global var (#15925) (#15987)
  pkg/bootstrap/service.go
  pkg/bootstrap/versions/v1_2_0/cluster_upgrade_list.go
  pkg/bootstrap/versions/v1_2_0/tenant_upgrade_list.go
  pkg/frontend/authenticate.go
  pkg/frontend/predefined.go
  pkg/util/sysview/predefined.go
  pkg/util/sysview/sysview.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

update
  pkg/vm/engine/disttae/cache/catalog.go
Owners: @XuPeng-SH, @triump2020

update
  pkg/vm/engine/disttae/cache/catalog.go
Owners: @XuPeng-SH, @triump2020

Fix the bug of losing deltaLoc when doing checkpoint (#15992)
  pkg/vm/engine/tae/tables/updates/mvcc.go
Owners: @XuPeng-SH

update
  pkg/vm/engine/disttae/cache/catalog.go
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/disttae/util.go
  pkg/vm/engine/disttae/util_test.go
Owners: @XuPeng-SH, @triump2020

update
  pkg/vm/engine/disttae/cache/catalog.go
Owners: @XuPeng-SH, @triump2020

update
  pkg/vm/engine/disttae/cache/catalog.go
Owners: @XuPeng-SH, @triump2020

fix drop database failure (#15999)
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/disttae/util.go
  pkg/vm/engine/disttae/util_test.go
Owners: @XuPeng-SH, @triump2020

fix bug: incorrect row count for value scan node (#15941) (#15989)
  pkg/pb/plan/plan.pb.go
  pkg/sql/plan/build_constraint_util.go
  pkg/sql/plan/deepcopy.go
  pkg/sql/plan/stats.go
  proto/plan.proto
Owners: @ouyuanning, @aunjgr, @badboynt1

improve incr service pre allocate (#15995)
  pkg/incrservice/service.go
  pkg/incrservice/table_cache.go
  pkg/incrservice/types.go
  pkg/sql/colexec/preinsert/preinsert.go
Owners: @zhangxu19830126, @m-schen

move some logic from compile to run (#15983)
  pkg/pb/pipeline/pipeline.pb.go
  pkg/sql/colexec/limit/limit.go
  pkg/sql/colexec/limit/limit_test.go
  pkg/sql/colexec/limit/types.go
  pkg/sql/colexec/mergelimit/limit.go
  pkg/sql/colexec/mergelimit/limit_test.go
  pkg/sql/colexec/mergelimit/types.go
  pkg/sql/colexec/mergeoffset/offset.go
  pkg/sql/colexec/mergeoffset/offset_test.go
  pkg/sql/colexec/mergeoffset/types.go
  pkg/sql/colexec/mergetop/top.go
  pkg/sql/colexec/mergetop/top_test.go
  pkg/sql/colexec/mergetop/types.go
  pkg/sql/colexec/offset/offset.go
  pkg/sql/colexec/offset/offset_test.go
  pkg/sql/colexec/offset/types.go
  pkg/sql/colexec/top/top.go
  pkg/sql/colexec/top/top_test.go
  pkg/sql/colexec/top/types.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/reuse.go
  pkg/sql/compile/scope.go
  pkg/sql/compile/scopeRemoteRun.go
  pkg/sql/compile/scopeRemoteRun_test.go
  pkg/sql/compile/types.go
  pkg/sql/plan/build_load.go
  proto/pipeline.proto
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

Fix the bug of losing deltaLoc when doing checkpoint for 1.2 (#15993)
  pkg/vm/engine/tae/tables/updates/mvcc.go
Owners: @XuPeng-SH

update bvt test case
  test/distributed/cases/database/system_table.result
  test/distributed/cases/database/system_variables.result
  test/distributed/cases/dml/show/database_statistics.result
  test/distributed/cases/mo_cloud/mo_cloud.result
Owners: @aressu1985, @heni02

force index join on one cn (#15990)
  pkg/sql/plan/explain/explain_node.go
  pkg/sql/plan/opt_misc.go
  test/distributed/cases/optimizer/pushdown.result
Owners: @ouyuanning, @aunjgr, @badboynt1, @qingxinhome, @aressu1985, @heni02

fix drop database failure (#16000)
  pkg/vm/engine/disttae/engine.go
  pkg/vm/engine/disttae/util.go
  pkg/vm/engine/disttae/util_test.go
Owners: @XuPeng-SH, @triump2020

fix HasCommittedPersistedData, cherry-pick #15930 (#15965)
  pkg/vm/engine/tae/catalog/base.go
  pkg/vm/engine/tae/catalog/object.go
  pkg/vm/engine/tae/rpc/handle.go
  pkg/vm/engine/tae/tables/updates/delchain.go
  pkg/vm/engine/tae/txn/txnbase/mvccchain.go
Owners: @XuPeng-SH

remove unused parameters
  pkg/sql/compile/compile.go
  pkg/sql/compile/operator.go
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

[bug] fix ut
  pkg/proxy/handler.go
  pkg/util/address/address.go
  pkg/util/address/address_test.go
Owners: @zhangxu19830126, @volgariver6

[bug] fix ut
  pkg/proxy/handler.go
  pkg/util/address/address.go
  pkg/util/address/address_test.go
Owners: @zhangxu19830126, @volgariver6

[subtask] : let preinsert can get outcnt from stats (#15957)
  pkg/pb/pipeline/pipeline.pb.go
  pkg/sql/colexec/preinsert/types.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/scopeRemoteRun.go
  proto/pipeline.proto
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

fix sca
  pkg/frontend/mysql_protocol_test.go
Owners: @daviszhen, @qingxinhome

fix ut pkg/frontend/mysql_protocol_test.go
  pkg/frontend/back_exec.go
  pkg/frontend/mysql_protocol_test.go
  pkg/frontend/session.go
  pkg/frontend/util.go
Owners: @daviszhen, @qingxinhome

Restore bootstrap to establish index code for mo-task
  pkg/bootstrap/service.go
  pkg/frontend/predefined.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

Restore bootstrap to establish index code for mo-task
  pkg/bootstrap/service.go
  pkg/frontend/predefined.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

rename
  pkg/sql/colexec/aggexec/fromFixedRetFixed.go
Owners: @m-schen

add quote to dbname when drop account (#15985)
  pkg/frontend/authenticate.go
  test/distributed/cases/zz_accesscontrol/drop_account.result
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @daviszhen, @qingxinhome, @aressu1985, @heni02

fix hung
  pkg/frontend/result_row_stmt.go
  pkg/frontend/session.go
Owners: @daviszhen, @qingxinhome

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @sukki37
.github/actions @sukki37
.github/workflow @sukki37

# files under the top-level directory
/*.yml @sukki37
/*.yaml @sukki37
/.gitignore @sukki37
/.dockerignore @sukki37
/Makefile @zhangxu19830126
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @sukki37
/pkg @sukki37
/proto @zhangxu19830126
/cmd @daviszhen @zhangxu19830126
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold @qingxinhome

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen

/pkg/cacheservice @volgariver6 

/pkg/clusterservice @volgariver6 




# pkg/common
/pkg/common @zhangxu19830126
/pkg/common/mpool @m-schen
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr
/pkg/common/hashmap @aunjgr
/pkg/common/moerror @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr

# pkg/defines
/pkg/defines @daviszhen

# pkg/tnservice
/pkg/tnservice @zhangxu19830126

# pkg/fileservice
/pkg/fileservice @reusee

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @qingxinhome

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @w-zr

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/logservice
/pkg/logservice @zhangxu19830126

# pkg/logutil
/pkg/logutil @daviszhen

# pkg/objectio
/pkg/objectio @LeftHandCold

# pkg/partition
/pkg/partition @aunjgr @m-schen

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @m-schen
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr @m-schen

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @qingxinhome

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @m-schen
/pkg/sql/compile @m-schen @ouyuanning @aunjgr @badboynt1
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr @badboynt1
/pkg/sql/plan/function @m-schen
/pkg/sql/plan/explain @ouyuanning @aunjgr @badboynt1 @qingxinhome

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @m-schen

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @m-schen
/pkg/vm/process @m-schen @XuPeng-SH @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @triump2020
/pkg/vm/engine/disttae/logtailreplay @reusee @triump2020
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @aylei @daviszhen

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @m-schen
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
