Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @fengttt, @zhangxu19830126, @XuPeng-SH, @dengn, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @volgariver6, @ck89119, @jiangxinmeng1, @reusee, @aptend, @ouyuanning, @xzxiong, @iamlinjunhong, @gouhongshen

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @fengttt
.github/actions @fengttt
.github/workflow @fengttt

# files under the top-level directory
/*.yml @fengttt
/*.yaml @fengttt
/.gitignore @fengttt
/.dockerignore @fengttt
/Makefile @zhangxu19830126 @XuPeng-SH
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @fengttt
/pkg @fengttt
/proto @zhangxu19830126 @XuPeng-SH
/cmd @daviszhen @zhangxu19830126 @XuPeng-SH
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold

/pkg/datasync @volgariver6 @LeftHandCold

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

#pkg/cdc
/pkg/cdc @ck89119 @jiangxinmeng1

#pkg/iscp
/pkg/iscp @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen @XuPeng-SH

/pkg/cacheservice @volgariver6 @aptend

/pkg/clusterservice @volgariver6 @aptend

# pkg/common @fengttt
/pkg/common @zhangxu19830126 @XuPeng-SH
/pkg/common/mpool @reusee @XuPeng-SH
/pkg/common/malloc @reusee
/pkg/common/spool @reusee @ouyuanning @aunjgr
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr @XuPeng-SH
/pkg/common/hashmap @aunjgr
/pkg/common/moerr @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen @fengttt

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr @XuPeng-SH
/pkg/container/pSpool @reusee @aunjgr @ouyuanning

# pkg/defines
/pkg/defines @daviszhen @XuPeng-SH

# pkg/embed
/pkg/embed @zhangxu19830126

# pkg/tnservice
/pkg/tnservice @zhangxu19830126 @XuPeng-SH

# pkg/fileservice
/pkg/fileservice @reusee @fengttt

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @XuPeng-SH

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @volgariver6

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/shardservice
/pkg/shardservice @zhangxu19830126

# pkg/partitionservice
/pkg/partitionservice @zhangxu19830126 @iamlinjunhong

# pkg/logservice
/pkg/logservice @zhangxu19830126 @volgariver6

# pkg/logutil
/pkg/logutil @daviszhen @XuPeng-SH

# pkg/objectio
/pkg/objectio @LeftHandCold @XuPeng-SH

# pkg/partition
/pkg/partition @aunjgr @iamlinjunhong

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126 @XuPeng-SH
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @ouyuanning @aunjgr
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @LeftHandCold

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @ouyuanning @aunjgr
/pkg/sql/compile @ouyuanning @aunjgr
/pkg/sql/models @aptend
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr
/pkg/sql/plan/function @ouyuanning @aunjgr
/pkg/sql/plan/explain @ouyuanning @aunjgr
/pkg/sql/plan/tools @daviszhen @gouhongshen
/pkg/sql/colexec/indexjoin @aunjgr
/pkg/sql/colexec/indexbuild @aunjgr
/pkg/sql/colexec/intersect @aunjgr
/pkg/sql/colexec/intersectall @aunjgr
/pkg/sql/colexec/loopanti @aunjgr
/pkg/sql/colexec/loopjoin @aunjgr
/pkg/sql/colexec/loopleft @aunjgr
/pkg/sql/colexec/loopmark @aunjgr
/pkg/sql/colexec/loopsingle @aunjgr
/pkg/sql/colexec/right @aunjgr
/pkg/sql/colexec/rightanti @aunjgr
/pkg/sql/colexec/rightsemi @aunjgr
/pkg/sql/colexec/anti @aunjgr
/pkg/sql/colexec/single @aunjgr
/pkg/sql/colexec/mark @aunjgr
/pkg/sql/colexec/semi @aunjgr
/pkg/sql/colexec/join @aunjgr
/pkg/sql/colexec/hashbuild @aunjgr
/pkg/sql/colexec/left @aunjgr
/pkg/sql/colexec/shuffle @aunjgr
/pkg/sql/colexec/shuffleV2 @aunjgr
/pkg/sql/colexec/shufflebuild @aunjgr
/pkg/sql/colexec/multi_update @ouyuanning

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @ouyuanning @daviszhen @XuPeng-SH

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126 @XuPeng-SH
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend @xzxiong
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend
/pkg/util/fault @XuPeng-SH

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @ouyuanning @aunjgr
/pkg/vm/process @reusee @aunjgr @XuPeng-SH
/pkg/vm/message @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @gouhongshen
/pkg/vm/engine/disttae/logtailreplay @XuPeng-SH @gouhongshen
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @daviszhen @fengttt

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @ouyuanning @aunjgr
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
/proto/shard.proto @zhangxu19830126

fix apply iscp log
  pkg/iscp/executor.go
  pkg/iscp/types.go
  pkg/iscp/watermark_updater.go
Owners: @XuPeng-SH

update
  pkg/iscp/executor.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH

update ut
  pkg/iscp/iteration.go
  pkg/iscp/worker.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH

fix sca problems
  pkg/iscp/executor.go
  pkg/iscp/table_entry.go
Owners: @XuPeng-SH

Fix iscp (#22455)
  pkg/iscp/executor.go
  pkg/iscp/iteration.go
  pkg/iscp/table_entry.go
  pkg/iscp/types.go
  pkg/iscp/watermark_updater.go
  pkg/iscp/worker.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

update
  pkg/iscp/executor.go
  pkg/iscp/iteration.go
  pkg/iscp/types.go
Owners: @XuPeng-SH

fix sca problems
  pkg/iscp/executor.go
  pkg/iscp/iteration.go
  pkg/iscp/types.go
Owners: @XuPeng-SH

Fix GC leak files (#22451)
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

Add Force GC (#22215)
  pkg/cnservice/server_query.go
  pkg/pb/query/query.pb.go
  pkg/queryservice/client/query_client.go
  pkg/sql/plan/function/ctl/cmd_disk_cleaner.go
  pkg/tnservice/factory.go
  pkg/tnservice/store.go
  pkg/txn/client/client.go
  pkg/txn/storage/tae/storage.go
  pkg/vm/engine/cmd_util/type.go
  pkg/vm/engine/tae/db/gc/v3/checkpoint.go
  pkg/vm/engine/tae/db/gc/v3/cleaner_test.go
  pkg/vm/engine/tae/db/gc/v3/diskcleaner.go
  pkg/vm/engine/tae/db/gc/v3/mock_cleaner.go
  pkg/vm/engine/tae/db/gc/v3/types.go
  pkg/vm/engine/tae/db/test/db_test.go
  pkg/vm/engine/tae/rpc/handle.go
  pkg/vm/engine/tae/rpc/handle_debug.go
  pkg/vm/engine/test/testutil/tae_engine.go
  proto/query.proto
  test/distributed/cases/dml/checkpoint/checkpoint.result
  test/distributed/cases/dml/checkpoint/checkpoint.test
Owners: @reusee, @daviszhen, @XuPeng-SH, @zhangxu19830126, @fengttt, @ouyuanning, @aunjgr, @aressu1985, @heni02

Fix GCKP files leak (#22392)
  pkg/vm/engine/tae/db/gc/v3/checkpoint.go
  pkg/vm/engine/tae/db/gc/v3/merge.go
Owners: @XuPeng-SH

Add GC Details& GC Verify (#22394)
  pkg/sql/plan/function/ctl/cmd_disk_cleaner.go
  pkg/txn/storage/tae/storage_debug.go
  pkg/vm/engine/cmd_util/type.go
  pkg/vm/engine/tae/db/gc/v3/check.go
  pkg/vm/engine/tae/db/gc/v3/checkpoint.go
  pkg/vm/engine/tae/db/gc/v3/diskcleaner.go
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
  pkg/vm/engine/tae/db/gc/v3/merge.go
  pkg/vm/engine/tae/db/gc/v3/mock_cleaner.go
  pkg/vm/engine/tae/db/gc/v3/types.go
  pkg/vm/engine/tae/db/gc/v3/window.go
  pkg/vm/engine/tae/iface/rpchandle/handler.go
  pkg/vm/engine/tae/rpc/handle_debug.go
  test/distributed/cases/dml/checkpoint/checkpoint.result
  test/distributed/cases/dml/checkpoint/checkpoint.test
  test/distributed/cases/dml/show/show.test
  test/distributed/cases/save_query_result/save_query_result.sql
  test/distributed/cases/tenant/tenant.test
  test/distributed/cases/util/check.result
  test/distributed/cases/util/check.sql
Owners: @ouyuanning, @aunjgr, @zhangxu19830126, @XuPeng-SH, @aressu1985, @heni02

Fixed the bug that caused GC Verify to panic when running during checkpoint but not completed. (#22434)
  pkg/vm/engine/tae/db/gc/v3/check.go
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

GC collects data from the mo_pitr table and needs to determine whether mo_catalog (#22436)
  pkg/vm/engine/tae/db/test/db_test.go
  pkg/vm/engine/tae/logtail/snapshot.go
Owners: @XuPeng-SH

Fix GC leak files (#22451)
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

add ut
  pkg/iscp/iteration.go
  pkg/iscp/watermark_updater.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH

Fix LoadBatchData
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
Owners: @XuPeng-SH

Fix LoadBatchData
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

Update code
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
Owners: @XuPeng-SH

fix ut
  pkg/iscp/data_retriever.go
  pkg/iscp/iteration.go
  pkg/iscp/mock_consumer.go
  pkg/iscp/watermark_updater.go
Owners: @XuPeng-SH

update
  pkg/iscp/watermark_updater.go
Owners: @XuPeng-SH

Fix bug
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
  pkg/vm/engine/tae/db/gc/v3/merge.go
Owners: @XuPeng-SH

Update checker
  pkg/vm/engine/tae/db/gc/v3/check.go
Owners: @XuPeng-SH

U
  pkg/vm/engine/tae/db/gc/v3/check.go
Owners: @XuPeng-SH

Revert "Fix bug"
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
  pkg/vm/engine/tae/db/gc/v3/merge.go
Owners: @XuPeng-SH

Fix GC leak files p2 (#22458)
  pkg/vm/engine/tae/db/gc/v3/check.go
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
  pkg/vm/engine/tae/db/gc/v3/window.go
Owners: @XuPeng-SH

fix
  test/distributed/cases/ddl/partition3.result
  test/distributed/cases/ddl/partition3.sql
Owners: @aressu1985, @heni02

Add Force GC& GC Details& GC Verify&Fix bug (#22459)
  pkg/cnservice/server_query.go
  pkg/pb/query/query.pb.go
  pkg/queryservice/client/query_client.go
  pkg/sql/plan/function/ctl/cmd_disk_cleaner.go
  pkg/tnservice/factory.go
  pkg/tnservice/store.go
  pkg/txn/client/client.go
  pkg/txn/storage/tae/storage.go
  pkg/txn/storage/tae/storage_debug.go
  pkg/vm/engine/cmd_util/type.go
  pkg/vm/engine/tae/db/gc/v3/check.go
  pkg/vm/engine/tae/db/gc/v3/checkpoint.go
  pkg/vm/engine/tae/db/gc/v3/cleaner_test.go
  pkg/vm/engine/tae/db/gc/v3/diskcleaner.go
  pkg/vm/engine/tae/db/gc/v3/exec_v1.go
  pkg/vm/engine/tae/db/gc/v3/merge.go
  pkg/vm/engine/tae/db/gc/v3/mock_cleaner.go
  pkg/vm/engine/tae/db/gc/v3/types.go
  pkg/vm/engine/tae/db/gc/v3/window.go
  pkg/vm/engine/tae/db/test/db_test.go
  pkg/vm/engine/tae/iface/rpchandle/handler.go
  pkg/vm/engine/tae/logtail/snapshot.go
  pkg/vm/engine/tae/rpc/handle.go
  pkg/vm/engine/tae/rpc/handle_debug.go
  pkg/vm/engine/test/testutil/tae_engine.go
  proto/query.proto
  test/distributed/cases/dml/show/show.test
  test/distributed/cases/save_query_result/save_query_result.sql
  test/distributed/cases/tenant/tenant.test
  test/distributed/cases/util/check.result
  test/distributed/cases/util/check.sql
Owners: @reusee, @daviszhen, @XuPeng-SH, @zhangxu19830126, @fengttt, @ouyuanning, @aunjgr, @aressu1985, @heni02

update ut
  pkg/iscp/iteration.go
  pkg/vm/engine/disttae/change_handle.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH, @gouhongshen

fix iscp (#22457)
  pkg/iscp/data_retriever.go
  pkg/iscp/executor.go
  pkg/iscp/iteration.go
  pkg/iscp/mock_consumer.go
  pkg/iscp/types.go
  pkg/iscp/watermark_updater.go
  pkg/vm/engine/disttae/change_handle.go
  pkg/vm/engine/test/change_handle_test.go
Owners: @XuPeng-SH, @gouhongshen

update 1
  pkg/sql/colexec/table_scan/table_scan.go
  pkg/sql/compile/sql_executor.go
Owners: @ouyuanning, @aunjgr

update 2
  pkg/vectorindex/ivfflat/search.go
Owners: @fengttt

fix
  test/distributed/cases/dml/select/sp_table.result
  test/distributed/cases/dml/show/database_statistics.result
  test/distributed/cases/dml/show/show.result
  test/distributed/cases/dtype/time_1.result
Owners: @aressu1985, @heni02
