Repository matrixorigin/matrixone, changes with the owners that CODEOWNERS names for each.
All owners: @sukki37, @zhangxu19830126, @dengn, @fengttt, @aunjgr, @daviszhen, @aressu1985, @heni02, @LeftHandCold, @qingxinhome, @XuPeng-SH, @reusee, @volgariver6, @m-schen, @xzxiong, @w-zr, @aptend, @ouyuanning, @badboynt1, @iamlinjunhong, @triump2020, @jiangxinmeng1, @aylei

fix index table merge too much
  pkg/vm/engine/tae/db/merge/executor.go
Owners: @XuPeng-SH

fix index table merge too much on 1.2
  pkg/vm/engine/tae/db/merge/executor.go
Owners: @XuPeng-SH

Update executor.go
  pkg/vm/engine/tae/db/merge/executor.go
Owners: @XuPeng-SH

add codes
  pkg/sql/colexec/aggexec/register.go
  pkg/sql/colexec/aggexec/single2.go
  pkg/sql/colexec/aggexec/singleNew.go
  pkg/sql/colexec/aggexec/types.go
Owners: @m-schen

move lock table out of operator
  pkg/sql/compile/compile.go
  pkg/sql/compile/reuse.go
  pkg/sql/compile/types.go
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

[subtask] : let preinsert can get outcnt from stats (#15957)
  pkg/pb/pipeline/pipeline.pb.go
  pkg/sql/colexec/preinsert/types.go
  pkg/sql/compile/compile.go
  pkg/sql/compile/operator.go
  pkg/sql/compile/scopeRemoteRun.go
  proto/pipeline.proto
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

update pb
  pkg/pb/pipeline/pipeline.pb.go
Owners: @m-schen

clean some code
  pkg/sql/compile/compile.go
  pkg/sql/compile/operator.go
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

tmp
  pkg/common/morpc/method_based.go
  pkg/common/morpc/method_based_test.go
  pkg/pb/shard/shard.go
  pkg/pb/shard/shard.pb.go
  pkg/shardservice/balancer.go
  pkg/shardservice/filters.go
  pkg/shardservice/filters_test.go
  pkg/shardservice/log.go
  pkg/shardservice/operator.go
  pkg/shardservice/runtime.go
  pkg/shardservice/scheduler_allocate.go
  pkg/shardservice/scheduler_balance.go
  pkg/shardservice/scheduler_down.go
  pkg/shardservice/shard_server.go
  pkg/shardservice/types.go
  proto/shard.proto
Owners: @zhangxu19830126, @sukki37

minor improve
  pkg/sql/compile/compile.go
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

preallocate by estimate row count
  pkg/incrservice/service.go
  pkg/incrservice/table_cache.go
  pkg/incrservice/types.go
  pkg/sql/colexec/preinsert/preinsert.go
Owners: @zhangxu19830126, @m-schen

fix and some codes should removed
  pkg/sql/colexec/aggexec/aggMethod2.go
  pkg/sql/colexec/aggexec/single2.go
  pkg/sql/plan/function/agg/sum2.go
  pkg/sql/plan/function/function_id.go
  pkg/sql/plan/function/list_agg.go
Owners: @m-schen

fix HasCommittedPersistedData (#15930)
  pkg/vm/engine/tae/catalog/base.go
  pkg/vm/engine/tae/catalog/object.go
  pkg/vm/engine/tae/rpc/handle.go
  pkg/vm/engine/tae/tables/updates/delchain.go
  pkg/vm/engine/tae/txn/txnbase/mvccchain.go
Owners: @XuPeng-SH

fix Bvt case in issue 14836 in 1.2 (#15966)
  test/distributed/cases/log/query_version.result
  test/distributed/cases/log/query_version.sql
  test/distributed/cases/result_count/result_count.result
  test/distributed/cases/result_count/result_count.sql
  test/distributed/cases/sql_source_type/sql_source_type.result
  test/distributed/cases/sql_source_type/sql_source_type.sql
  test/distributed/cases/zz_statement_query_type/query_version.result
  test/distributed/cases/zz_statement_query_type/query_version.sql
  test/distributed/cases/zz_statement_query_type/sql_source_type.result
  test/distributed/cases/zz_statement_query_type/sql_source_type.sql
Owners: @aressu1985, @heni02

add quote to dbname when drop account
  pkg/frontend/authenticate.go
Owners: @daviszhen, @qingxinhome

fix
  pkg/sql/plan/opt_misc.go
Owners: @ouyuanning, @aunjgr, @badboynt1

Predefine system table as global var (#15925)
  pkg/bootstrap/service.go
  pkg/bootstrap/versions/v1_2_0/cluster_upgrade_list.go
  pkg/bootstrap/versions/v1_2_0/tenant_upgrade_list.go
  pkg/frontend/authenticate.go
  pkg/frontend/predefined.go
  pkg/util/sysview/predefined.go
  pkg/util/sysview/sysview.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

Predefine system table as global var (#15925)
  pkg/bootstrap/service.go
  pkg/bootstrap/versions/v1_2_0/cluster_upgrade_list.go
  pkg/bootstrap/versions/v1_2_0/tenant_upgrade_list.go
  pkg/frontend/authenticate.go
  pkg/frontend/predefined.go
  pkg/util/sysview/predefined.go
  pkg/util/sysview/sysview.go
Owners: @daviszhen, @zhangxu19830126, @qingxinhome

tmp
  pkg/pb/shard/shard.go
  pkg/pb/shard/shard.pb.go
  pkg/shardservice/filters.go
  pkg/shardservice/operator.go
  pkg/shardservice/runtime.go
  pkg/shardservice/scheduler_allocate.go
  pkg/shardservice/scheduler_balance.go
  pkg/shardservice/shard_server.go
  pkg/shardservice/types.go
  pkg/sql/parsers/dialect/mysql/mysql_sql.go
  proto/shard.proto
Owners: @zhangxu19830126, @sukki37, @iamlinjunhong

modify metric
  pkg/util/metric/v2/dashboard/grafana_dashboard_task.go
Owners: @zhangxu19830126, @aptend

modify metric
  pkg/util/metric/v2/dashboard/grafana_dashboard_task.go
Owners: @zhangxu19830126, @aptend

fix
  pkg/sql/plan/explain/explain_node.go
Owners: @ouyuanning, @aunjgr, @badboynt1, @qingxinhome

fix bug: incorrect row count for value scan node (#15941)
  pkg/pb/plan/plan.pb.go
  pkg/sql/plan/build_constraint_util.go
  pkg/sql/plan/deepcopy.go
  pkg/sql/plan/stats.go
  proto/plan.proto
Owners: @ouyuanning, @aunjgr, @badboynt1

fix
  pkg/incrservice/service.go
  pkg/incrservice/table_cache.go
  pkg/incrservice/types.go
  pkg/sql/colexec/preinsert/preinsert.go
Owners: @zhangxu19830126, @m-schen

fix bug: incorrect row count for value scan node (#15941)
  pkg/pb/plan/plan.pb.go
  pkg/sql/plan/build_constraint_util.go
  pkg/sql/plan/deepcopy.go
  pkg/sql/plan/stats.go
  proto/plan.proto
Owners: @ouyuanning, @aunjgr, @badboynt1

fix
  pkg/sql/plan/explain/explain_node.go
Owners: @ouyuanning, @aunjgr, @badboynt1, @qingxinhome

add bvt test
  test/distributed/cases/zz_accesscontrol/drop_account.result
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @aressu1985, @heni02

cp catalog and options change to 1.2 (#15970)
  pkg/vm/engine/tae/blockio/pipeline.go
  pkg/vm/engine/tae/catalog/catalog.go
  pkg/vm/engine/tae/catalog/catalogreplay.go
  pkg/vm/engine/tae/catalog/database.go
  pkg/vm/engine/tae/catalog/mock.go
  pkg/vm/engine/tae/db/open.go
  pkg/vm/engine/tae/db/test/db_test.go
  pkg/vm/engine/tae/options/options.go
  pkg/vm/engine/tae/options/types.go
  pkg/vm/engine/tae/rpc/base_test.go
  pkg/vm/engine/tae/rpc/handle.go
  pkg/vm/engine/tae/txn/txnbase/txnmgr.go
  pkg/vm/engine/tae/txn/txnimpl/store.go
Owners: @XuPeng-SH, @LeftHandCold

fix
  pkg/sql/plan/explain/explain_node.go
  pkg/sql/plan/opt_misc.go
Owners: @ouyuanning, @aunjgr, @badboynt1, @qingxinhome

fix
  test/distributed/cases/optimizer/pushdown.result
Owners: @aressu1985, @heni02

fix
  test/distributed/cases/optimizer/pushdown.result
Owners: @aressu1985, @heni02

fix
  test/distributed/cases/optimizer/pushdown.result
Owners: @aressu1985, @heni02

Support mo_logger disable ErrorCollection (#15955)
  pkg/config/configuration.go
  pkg/frontend/mysql_cmd_executor.go
  pkg/frontend/test/types_mock.go
  pkg/util/errutil/context.go
  pkg/util/export/batch_processor.go
  pkg/util/export/batch_processor_test.go
  pkg/util/trace/impl/motrace/buffer_pipe_test.go
  pkg/util/trace/impl/motrace/config.go
  pkg/util/trace/impl/motrace/report_statement.go
  pkg/util/trace/impl/motrace/trace.go
Owners: @daviszhen, @qingxinhome, @zhangxu19830126, @xzxiong

fix
  test/distributed/cases/optimizer/pushdown.result
Owners: @aressu1985, @heni02

fix
  test/distributed/cases/zz_accesscontrol/drop_account.result
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @aressu1985, @heni02

Support mo_logger disable ErrorCollection in 1.2 (#15978)
  pkg/config/configuration.go
  pkg/frontend/mysql_cmd_executor.go
  pkg/frontend/test/types_mock.go
  pkg/util/errutil/context.go
  pkg/util/export/batch_processor.go
  pkg/util/export/batch_processor_test.go
  pkg/util/trace/impl/motrace/buffer_pipe_test.go
  pkg/util/trace/impl/motrace/config.go
  pkg/util/trace/impl/motrace/report_statement.go
  pkg/util/trace/impl/motrace/trace.go
Owners: @daviszhen, @qingxinhome, @zhangxu19830126, @xzxiong

move message board
  pkg/sql/compile/compile.go
  pkg/sql/compile/reuse.go
  pkg/sql/compile/scopeRemoteRunTypes.go
  pkg/sql/compile/types.go
Owners: @m-schen, @ouyuanning, @aunjgr, @badboynt1

fix
  test/distributed/cases/zz_accesscontrol/drop_account.result
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @aressu1985, @heni02

fix
  test/distributed/cases/zz_accesscontrol/drop_account.sql
Owners: @aressu1985, @heni02

Fix the bug of losing deltaLoc when doing checkpoint
  pkg/vm/engine/tae/tables/updates/mvcc.go
Owners: @XuPeng-SH

CODEOWNERS:

# default owner for stuff that is not explicitly set for ownership
# for triage only

# github and CI-related stuff
.github @sukki37
.github/actions @sukki37
.github/workflow @sukki37

# files under the top-level directory
/*.yml @sukki37
/*.yaml @sukki37
/.gitignore @sukki37
/.dockerignore @sukki37
/Makefile @zhangxu19830126
/README.md @dengn
/README_CN.md @dengn
/LICENSE @fengttt
/CODEOWNERS @fengttt
/CODE_OF_CONDUCT.md @fengttt
/go.mod @zhangxu19830126
/go.sum @zhangxu19830126

# Top-level folders
/cgo @aunjgr
/docs @fengttt
/etc @zhangxu19830126
/optools @sukki37
/pkg @sukki37
/proto @zhangxu19830126
/cmd @daviszhen @zhangxu19830126
/test @aressu1985 @heni02

# cmd
/cmd/mo-service @zhangxu19830126

/pkg/backup @daviszhen @LeftHandCold @qingxinhome

# subdirectory of pkg
# pkg/catalog
/pkg/catalog @XuPeng-SH

# pkg/cnservice
/pkg/cnservice @reusee @daviszhen

/pkg/cacheservice @volgariver6 

/pkg/clusterservice @volgariver6 




# pkg/common
/pkg/common @zhangxu19830126
/pkg/common/mpool @m-schen
/pkg/common/async @zhangxu19830126
/pkg/common/bitmap @aunjgr
/pkg/common/hashmap @aunjgr
/pkg/common/moerror @xzxiong
/pkg/common/morpc @zhangxu19830126
/pkg/common/moprobe @fengttt
/pkg/common/stopper @zhangxu19830126
/pkg/common/runtime @zhangxu19830126
/pkg/common/log @zhangxu19830126
/pkg/common/reuse @zhangxu19830126

# pkg/compare
/pkg/compare @aunjgr

# pkg/compress
/pkg/compress @aunjgr

# pkg/config
/pkg/config @daviszhen

# pkg/container
/pkg/container @XuPeng-SH
/pkg/container/vector @aunjgr

# pkg/defines
/pkg/defines @daviszhen

# pkg/tnservice
/pkg/tnservice @zhangxu19830126

# pkg/fileservice
/pkg/fileservice @reusee

# pkg/frontend @daviszhen
/pkg/frontend @daviszhen @qingxinhome

# pkg/hakeeper
/pkg/hakeeper @zhangxu19830126 @w-zr

# pkg/incrservice
/pkg/incrservice @zhangxu19830126

# pkg/lockservice
/pkg/lockservice @zhangxu19830126

# pkg/logservice
/pkg/logservice @zhangxu19830126

# pkg/logutil
/pkg/logutil @daviszhen

# pkg/objectio
/pkg/objectio @LeftHandCold

# pkg/partition
/pkg/partition @aunjgr @m-schen

# folders under pkg/pb contain code generated by pb, owners will be responsible
# for compatibility issues required for rolling upgrade.
/pkg/pb @zhangxu19830126
/pkg/pb/logservice @zhangxu19830126
/pkg/pb/metadata @zhangxu19830126
/pkg/pb/metric @aptend
/pkg/pb/pipeline @m-schen
/pkg/pb/plan @ouyuanning @aunjgr
/pkg/pb/timestamp @zhangxu19830126
/pkg/pb/txn @zhangxu19830126

# pkg/perfcounter
/pkg/perfcounter @reusee

# pkg/sort
/pkg/sort @aunjgr @m-schen

# pkg/bootstrap
/pkg/bootstrap @daviszhen @zhangxu19830126 @qingxinhome

# pkg/sql
/pkg/sql @aunjgr
/pkg/sql/colexec @m-schen
/pkg/sql/compile @m-schen @ouyuanning @aunjgr @badboynt1
/pkg/sql/parsers @iamlinjunhong
/pkg/sql/plan @ouyuanning @aunjgr @badboynt1
/pkg/sql/plan/function @m-schen
/pkg/sql/plan/explain @ouyuanning @aunjgr @badboynt1 @qingxinhome

# pkg/taskservice
/pkg/taskservice @zhangxu19830126

# pkg/tests
/pkg/tests @zhangxu19830126
/pkg/tests/service @zhangxu19830126
/pkg/tests/txn @zhangxu19830126

# pkg/testutil
/pkg/testutil @m-schen

# pkg/txn
/pkg/txn @zhangxu19830126
/pkg/txn/storage/memorystorage @reusee

# pkg/util
/pkg/util @zhangxu19830126
/pkg/util/internalExecutor @aptend
/pkg/util/metric @aptend
/pkg/util/toml @zhangxu19830126
/pkg/util/trace @xzxiong
/pkg/util/export @xzxiong
/pkg/util/metric/v2 @zhangxu19830126 @aptend

# pkg/vectorize
/pkg/vectorize @aunjgr

# engines and engine related stuff
/pkg/vm @XuPeng-SH
/pkg/vm/engine @XuPeng-SH
/pkg/vm/pipeline @m-schen
/pkg/vm/process @m-schen @XuPeng-SH @aunjgr
/pkg/vm/engine/disttae @XuPeng-SH @triump2020
/pkg/vm/engine/disttae/logtailreplay @reusee @triump2020
/pkg/vm/engine/tae @XuPeng-SH
/pkg/vm/engine/memoryengine @reusee
/pkg/vm/engine/tae/logtail/service @XuPeng-SH @volgariver6
/pkg/vm/engine/tae/logstore @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/wal @XuPeng-SH @jiangxinmeng1
/pkg/vm/engine/tae/blockio @XuPeng-SH @LeftHandCold


# proxy
/pkg/proxy @zhangxu19830126 @volgariver6

/pkg/stream @fengttt

/pkg/udf @aylei @daviszhen

/pkg/version @zhangxu19830126

# /proto contains pb definitions, owners will be responsible
# for compatibility issues required for rolling upgrade.
/proto/logservice.proto @zhangxu19830126
/proto/metadata.proto @zhangxu19830126
/proto/metric.proto @aptend
/proto/pipeline.proto @m-schen
/proto/plan.proto @aunjgr
/proto/timestamp.proto @zhangxu19830126
/proto/txn.proto @zhangxu19830126
/proto/api.proto @XuPeng-SH
/proto/logtail.proto @XuPeng-SH
